---
title: COVID-19 Information
description: COVID-19 Information

layout: covid-19
pdflink: false
permalink: /covid-19-information/
---

{%- assign covidCategories = covid-19 | covidCategories -%}

<h2 class="h2 g-color-purple g-font-weight-600 mb-3">{{ title }}</h2>

<div id="accordion-00" class="u-accordion u-accordion-bg-primary u-accordion-color-purple" role="tablist" aria-multiselectable="true">
	{% assign counter = 0 %}

	{% for category in covidCategories %}
		{%- assign articles = covid-19 | where: "Category", category -%}
		{%- assign counter = counter | plus: 1 -%}

		{% if counter == "1" %}
			{% accordion category, true %}
				{% for publication in articles %}
					<p><a href="{{ publication.Link }}" target="_blank" target="_blank">{{ publication.Title }}</a></p>
				{% endfor %}
			{% endaccordion %}
		{% else %}
			{% accordion category %}
				{% for publication in articles %}
					<p><a href="{{ publication.Link }}" target="_blank" target="_blank">{{ publication.Title }}</a></p>
				{% endfor %}
			{% endaccordion %}
		{% endif %}
	{% endfor %}
</div>
