---
title: International Business
description: "Insurance and reinsurance is an international business.  Local laws, varied regulation and cultural practices can create barriers to distributing products and services internationally."

layout: international
permalink: /international-business/
---

<p>Insurance and reinsurance is an international business.  Local laws, varied regulation and cultural practices can create barriers to distributing products and services internationally.  The UK’s departure from the EU (and possibly also the EEA) creates both challenges and opportunities.  International sanctions, together with many more longstanding logistical difficulties can limit how insurers and brokers operate internationally.</p>

<p>With our focus on the insurance and reinsurance markets, we have a deep understanding of the legal issues faced by insurers, reinsurers and insurance intermediaries when engaged in international business.</p>

<div id="accordion-00" class="u-accordion u-accordion-bg-primary u-accordion-color-purple" role="tablist" aria-multiselectable="true">
	{% accordion 'What we do' %}
		<p>We are familiar with UK and EU rules and requirements and, for business further afield, place at our clients’ disposal our global network of insurance-specialist law firms in the <a href="/international-networks/">Insuralex</a> group.  We focus on simplifying complex requirements and regulations, and finding practical solutions, so that our clients can focus on growing their businesses.</p>
	{% endaccordion %}

	{% accordion 'Our Experience' %}
		<ul>
			<li>Advising on all forms of agreement, and regulatory compliance, for the distribution of both marine and non-marine insurance and reinsurance products, in the EEA and beyond.</li>
			<li>Advising on establishment of non-European insurers in the EEA, including an evaluation of the legal, regulatory, commercial and logistical aspects of the various alternative jurisdictions.</li>
			<li>Assisting non-EEA insurers setting up in London or elsewhere in the EEA, providing prompt and practical advice on all the necessary arrangements, from obtaining authorisation to carry on business, establishing relations with regulators and drafting agreements with other market participants, through to obtaining working visas for senior managers and drafting employment contracts and agreements with service providers.</li>
			<li>Assisting EEA insurers and intermediaries on the provision of services in the UK and advising on their relationship with the UK Regulator and compliance with the particularities of UK regulation.</li>
			<li>Advising on structures for non-EEA authorised insurers to provide insurance to UK policyholders, including arrangements with local brokers, premium collection, claims handling and the interface with the regulatory protection provided where insurance is granted by EEA insurers.</li>
			<li>Advising on the acquisition of insurance companies and insurance intermediaries in the EEA and beyond.</li>
			<li>Assisting with Part VII transfers.</li>
			<li>Assisting with the legal aspects of legacy business, including the acquisition and subsequent run-off of legacy portfolios, and regulatory compliance throughout the process.</li>
			<li>Advising on sanctions and sanctions clauses in insurance and reinsurance contracts.</li>
			<li>Advising on compliance issues, such as anti-corruption and anti-bribery legislation.</li>
			<li>Advising on compliance with data protection legislation and the EU’s General Data Protection Regulation (applicable in the UK from 25 May 2018).</li>
			<li>Advising on arrangements to cater for Brexit.</li>
		</ul>
	{% endaccordion %}
</div>

<h5 class="h5 g-color-purple g-font-weight-600 mb-4">Key Contacts</h5>

<div class="row">
	{% include 'keyContact', personID: 'stephen-carter' %}
	{% include 'keyContact', personID: 'samantha-zaozirny' %}
</div>

