---
title: International Disputes
description: "A significant share of our business originates from overseas, with a large proportion comprising international disputes."

layout: international
permalink: /international-disputes/
---

<p>A significant share of our business originates from overseas, with a large proportion comprising international disputes. We are regularly instructed on large multifaceted matters that require careful consideration of the inter-relationship between the different systems of law and procedures that arise in such disputes.</p>

<p>International disputes have therefore always been a mainstay of our work.  They may take the form of international arbitration, litigation, advisory work or even appeals from overseas jurisdictions whose ultimate Court of Appeal is the Privy Council in London.  Whatever form it takes, we are used to coordinating and working with overseas lawyers where multi-disciplinary teams are required.</p>

<div id="accordion-00" class="u-accordion u-accordion-bg-primary u-accordion-color-purple" role="tablist" aria-multiselectable="true">
	{% accordion 'What we do' %}
		<h5 class="h5 g-color-purple g-font-weight-600 mb-4">International arbitration</h5>

		<p>Many international commercial contracts, including in particular a large proportion of reinsurance treaties, contain arbitration clauses.  We advise and represent clients in all forms of international arbitration – whether ad hoc or institutional.  We are, for example, very familiar with the fundamental differences between US and UK arbitral procedures.  Likewise, we are accustomed to the civil procedures often adopted in international arbitration and those of countries whose arbitral systems reflect the UNCITRAL Model Law.</p>

		<p>Our lawyers have acted in English arbitrations involving overseas laws and markets and in overseas arbitrations involving English laws or practice issues.  Our experience includes ad hoc arbitrations (largely reinsurance), as well as ICC, LCIA, City Disputes Panel, ARIAS and KAC.  Our lawyers have also advised an overseas Government as to its arbitration laws and arbitration centre structures.</p>

		<p><a href="/people/stephen-carter/">Stephen Carter</a>, <a href="/people/paul-bugden/">Paul Bugden</a> and <a href="/people/bill-perry/">Bill Perry</a> are qualified arbitrators.  Paul is a Fellow, and Stephen and Bill are Members, of the Chartered Institute of Arbitrators.  Stephen Carter is also an ARIAS (UK) panel arbitrator. </p>

		<h5 class="h5 g-color-purple g-font-weight-600 mb-4">International litigation</h5>

		<p>Much of the litigation and dispute resolution work that we carry out involves overseas parties or cross-border issues. Given the global nature of both insurance and reinsurance products, they regularly give rise to claims involving losses in one State, coverage of which is governed by a policy issued and subject to law in another, while the insured claim may be subject to a differing system of law altogether.</p>

		<p>With London being a global centre of international dispute resolution, and since many of the world’s commercial contracts specify the London Commercial Court as the arbiter of such conflicts, our lawyers have a wealth of experience of conducting disputes in that arena.</p>
	{% endaccordion %}

	{% accordion 'Our Experience' %}
		<p><span class="g-color-purple g-font-weight-600">Aviation insurance:</span> Acting for European insurers under an aviation, hull and liability insurance policy subject to English law, to act for the insured following an aviation accident in a Caribbean jurisdiction and to pursue a subrogated claim in the overseas Courts against an airport authority and a refuelling contractor.</p>

		<p><span class="g-color-purple g-font-weight-600">BBB/financial risks insurance:</span> Acting for insurers through a Lloyd’s broker and an overseas broker in relation to separate insurance slips providing BBB insurance to an overseas bank, including aggregation and non-disclosure issues, arising from a US$20m+ fraud on the bank (including consequent issues of recoverability under reinsurance).</p>

		<p><span class="g-color-purple g-font-weight-600">Fine art insurance:</span> Acting for insurers of an Old Master painting in relation to a claim for damage when overseas.  Issues included coverage, valuation, quantum of damage and appropriate forum (involving lawyers from three jurisdictions).</p>

		<p><span class="g-color-purple g-font-weight-600">International arbitration – manufacturing:</span> Acting in an ICC arbitration arising from a technology transfer and factory construction contract based in Asia between Asian and European parties, with a London seat.</p>

		<p><span class="g-color-purple g-font-weight-600">International arbitration – trade:</span> Acting in an ICC arbitration concerning a failure to supply cargo from South America to the USA under an English law contract.</p>

		<p><span class="g-color-purple g-font-weight-600">International investments – property:</span> Recovering compensation from commercial property developers in the MENA region when the construction projects were abandoned in the financial crisis of the late 2000s (Commercial Court).</p>

		<p><span class="g-color-purple g-font-weight-600">Marine reinsurance:</span> Coverage issues arising from the sinking of a cargo vessel in the South Chinas Seas.</p>

		<p><span class="g-color-purple g-font-weight-600">Media and telecommunications:</span> Securing the removal of defamatory images from various websites based in the UK and overseas.</p>

		<p><span class="g-color-purple g-font-weight-600">Privy Council appeal:</span> Appearing before the Privy Council in an Appeal from the Court of Appeal of a Commonwealth country concerning a dispute arising from an alleged sale of overseas real estate.</p>

		<p><span class="g-color-purple g-font-weight-600">Professional indemnity – brokers:</span> Acting for a US surplus lines broker, instructed by its professional indemnity insurers, in a London-based arbitration relating to an overseas book of business under an English law contract.</p>

		<p><span class="g-color-purple g-font-weight-600">Property reinsurance – political violence:</span> Advising overseas brokers in respect of an arson claim relating to a Middle Eastern hotel, involving issues of whether the arson was political violence, and hence covered.</p>

		<p><span class="g-color-purple g-font-weight-600">Reinsurance arbitration:</span> Acting for the reinsured in a dispute, the key to which was where the seat of an arbitration should be, and whether this was an issue for the tribunal or the Court (and, if so, the Court of which jurisdiction) to decide.  The case involved arbitration commenced in the USA, Commercial Court proceedings in London seeking a declaration that the seat should be London, and Court proceedings in the USA seeking to restrain the London proceedings.</p>

		<p><span class="g-color-purple g-font-weight-600">Reinsurance coverage:</span> Successfully representing AGF Insurance in the House of Lords decision <em>AGF &amp; WASA v Lexington</em>, concerning circumstances in which, under English law, a facultative reinsurer has to follow the settlements of its reinsured, whose contract is subject to an overseas (in this case US) system of law.</p>

		<p><span class="g-color-purple g-font-weight-600">Trusts and fiduciary:</span> Providing advice on conflict of laws issues regarding the different rules under English law, a Middle Eastern country’s law and an Eastern European country’s law regarding distribution on intestacy of the overseas assets of an English domiciled intestate with an English Grant of Administration.</p>
	{% endaccordion %}
</div>

<h5 class="h5 g-color-purple g-font-weight-600 mb-4">Key Contacts</h5>

<div class="row">
	{% include keyContact, personID: 'stephen-carter' %}
	{% include keyContact, personID: 'bill-perry' %}
	{% include keyContact, personID: 'samantha-zaozirny' %}
	{% include keyContact, personID: 'paul-bugden' %}
</div>
