---
title: Our People
description:

layout: default
searchExclude: true
---

<section class="container g-pt-100 g-pb-20">
	<div class="row row-offcanvas row-offcanvas-left">
		<div class="col g-py-30 g-pa-30--md">
			<section class="g-bg-secondary g-py-100">
				<div class="g-mb-50">
					<h2 class="h2 g-color-purple g-font-weight-600 mb-3">Our People</h2>
				</div>

				<div class="container">
					<div id="shortcode12">
						<div class="shortcode-html">
							<div class="row">
								{% for person in site.data.people %}
									<div class="col-lg-3 col-sm-6 g-mb-30">
										<figure class="g-color-gray-dark-v2">
											<a href="./{{ person.id }}/">
												<img class="w-100 g-mb-30" src="{{ site.url }}/assets/images/bio/{{ person.id }}.jpg" alt="{{ person.name }}">
											</a>

											<em class="d-block g-font-style-normal g-font-size-11 text-uppercase g-color-primary g-mb-5">{{ person.position }}</em>
											<h4 class="h4 g-color-purple g-font-weight-600 mb-4"><a href="./{{ person.id }}/">{{ person.name }}</a></h4>

											<hr class="g-brd-gray-light-v4 g-my-15">

											<ul class="list-unstyled g-font-size-13 g-color-gray-dark-v1">
												{% if person.email %}
													<li class="g-mb-5 g-color-primary">
														<i class="fa fa-envelope g-mr-10"></i>
														<a href="mailto:{{ person.email }}">{{ person.email }}</a>
													</li>
												{% endif %}

												{% if person.ddi %}
													<li class="g-mb-5 g-color-primary">
														<i class="fa fa-phone g-mr-10"></i>
														{{ person.ddi }}
													</li>
												{% endif %}

												{% if person.mobile %}
													<li class="g-mb-5 g-color-primary">
														<i class="fa fa-mobile g-mr-10"></i>
														{{ person.mobile }}
													</li>
												{% endif %}
											</ul>
										</figure>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>
