<div class="card g-brd-none rounded-0 g-mb-15">
	<div id="accordion-11-heading-{{ include.accordion }}" class="u-accordion__header g-pa-0" role="tab">
		<h5 class="mb-0">
			<a class="collapsed d-block g-color-white g-text-underline--none--hover g-brd-around g-rounded-5 g-pa-10-15 g-bg-primary-dark-v4" href="#accordion-11-body-{{ include.accordion }}" data-toggle="collapse" data-parent="#accordion-11" aria-expanded="false" aria-controls="accordion-11-body-{{ include.accordion }}">
				<span class="u-accordion__control-icon g-mr-10">
					<i class="fa fa-angle-down"></i>
					<i class="fa fa-angle-up"></i>
				</span>
				{{ include.title }}
			</a>
		</h5>
	</div>

	<div id="accordion-11-body-{{ include.accordion }}" class="collapse" role="tabpanel" aria-labelledby="accordion-11-heading-{{ include.accordion }}">
		<div class="u-accordion__body g-color-gray-dark-v1">
			{{ include.content }}
		</div>
	</div>
</div>
