<script src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js"></script>

<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}

	gtag('js', new Date());

	gtag('config', 'G-VEM8XWSBST');

	var config = {
		apiKey: '55577c01300902a5a1fcb4bbfb7c0e2d74cd1554',
		product: 'COMMUNITY',
		iabCMP: false,
		initialState: "OPEN",
		statement : {
			description: 'For more information visit our',
			name : 'Privacy Notice',
			url: 'https://www.cpblaw.com/privacy-notice.pdf',
			updated : '31 December 2022'
		},
		necessaryCookies: [ '__cfduid', 'civic_*' ],
		optionalCookies: [
			{
				name: 'analytics',
				label: 'Analytical Cookies',
				description: 'Analytical cookies help us to improve our website by collecting and reporting information on its usage.',
				cookies: ['_ga', '_ga*', '_gid', '_gat', '__utma', '__utmt', '__utmb', '__utmc', '__utmz', '__utmv'],
				vendors: [ {
					name: 'Google',
					url: 'https://policies.google.com/technologies/types?hl=en-US',
					description: 'Google Analytics'
				} ],
				onAccept : function() {
// Add Google Analytics
					gtag('consent', 'update', {
						'ad_storage': 'granted'
						,'analytics_storage': 'granted'
						,'functionality_storage': 'granted'
						,'personalization_storage': 'granted'
						,'security_storage': 'granted'
					});
// End Google Analytics
				},
				onRevoke: function(){
// Disable Google Analytics tracking
					gtag('consent', 'update', {
						'ad_storage': 'denied'
						,'analytics_storage': 'denied'
						,'functionality_storage': 'denied'
						,'personalization_storage': 'denied'
						,'security_storage': 'denied'
					});

					// Clear user identifier
					gtag('set', 'user_properties', null);
// End Google Analytics
				}
			}
		],

		position: 'LEFT',
		theme: 'DARK'
	};
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-VEM8XWSBST"></script>

<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}

	gtag('js', new Date());

	gtag('config', 'G-VEM8XWSBST');

	// Cookie Control, with optionalCookies described above
	CookieControl.load(...)
</script>
