<h3 class="h3 g-color-purple g-font-weight-600 mb-4">Legal 500</h3>

<p>Stephen Carter (<em>“Hall of Fame”</em>); Bernadette Bailey (<em>“Hall of Fame”</em>); Dean De Cesare (<em>“Key Lawyer”</em>)</p>

<em>“The firm goes above and beyond market standards to ensure the clients’ interests are fully served.  This helps to establish both a long-term relationship with its clients and offers clients the satisfaction that they are in good hands with a robust and experienced legal team.  This is all achieved through close understanding of the client’s problem and a willingness and professionalism to achieve the desired results.  No stone is left unturned.”</em>

<p><em>“They are a very experienced team, where you can be assured that one of the partners will bring their considerable skill and experience to work on your case.”</em></p>

<p><em>“They are always willing to look at claims with an open mind and to stick to budgets agreed upfront.  They leave no stone unturned when it comes to maximising claims.”</em></p>

<p><em>“Everyone I have worked with at the firm is attentive to the need of the client and they are super responsive.  Top quality legal brains with very reasonable charge out rates.”</em></p>

<p><em>“Stephen Carter and Bernadette Bailey are very practical and capable individuals as well as being focused on providing added benefit to clients.  Easy to get hold of and down to earth partners.  They do what they do very well.”</em></p>

<p><em>“The 'highly specialised' <a href="/">Carter Perry Bailey LLP</a> stands out for its international expertise in a wide range of matters. <a href="/people/stephen-carter/">Stephen Carter</a>, who 'provides clear unambiguous advice', is a highly-regarded lawyer with a focus on reinsurance, while Bernadette Bailey regularly undertakes direct insurance claims and industrial work. 'Superb' senior counsel Bill Perry specialises in fine art insurance, international litigation and arbitration.”</em></p>
