---
title: Commercial Litigation and Alternate Dispute Resolution
description: "Most of the time commercial relationships, and the contracts that govern them, work as intended."

layout: practiceareas
permalink: /commercial-litigation/
---

<p>Most of the time commercial relationships, and the contracts that govern them, work as intended. If not, the parties’ mutual aims and interests are sufficient to overcome problems which occur. Sometimes, though, for any number of reasons, a dispute will arise which places a business and its reputation at risk. At that point, clients come to us for help.</p>

<p>We have the knowledge and expertise to provide pragmatic advice from a commercial perspective. We work with our clients to secure the results they want, efficiently and cost effectively, while maintaining on-going relationships and minimising any interruption to the business itself.</p>

<p>We have great experience of handling domestic and international litigation, arbitration and ADR. Our lawyers can handle disputes ranging from the high-profile reported cases to the commercially sensitive disagreements that require resolution quickly and discreetly.</p>

<p>Whether it is in Court, before a Tribunal or as part of a multi-party cross-jurisdictional arbitration, we advise on the full range of issues. We develop long-standing relationships with our clients so that we understand their businesses and provide the advice best suited to them.</p>

<div id="accordion-00" class="u-accordion u-accordion-bg-primary u-accordion-color-purple" role="tablist" aria-multiselectable="true">
	{% accordion 'What we do' %}
		<p>‘Commercial litigation’ means what it says. It covers all disputes and court proceedings between businesses and non-consumer claims relating to business (except debt collection, employment, IP, land law and specialist shipping/aviation).</p>

		<p>We act for companies (including world-wide household names) conducting business in a broad range of fields including commodities, distribution, fine art, hotels, (re)insurance, manufacturing, pharmaceuticals, property, technology, television, shipping and transportation, as well as public authorities, trade associations and not-for-profit institutions. We act for national and multi-national associations of companies and businesses, both domestically and on an international basis.</p>

		<p>We help our clients choose the right forum, the right tribunal, the right team, the right tactics and, above all, the right strategy to secure the outcome they want. This can, and often does, involve the use of many forms of ADR, particularly mediation, which although once considered an alternative to court proceedings, has now been embraced by the court system and therefore often invoked at an appropriate stage of proceedings.</p>

		<p>Our lawyers have proven track records of achieving excellent results quickly and cost effectively.</p>
	{% endaccordion %}

	{% accordion 'Our Experience' %}
		<ul>
			<li>Acting in LCIA arbitrations regarding disputed international sales contracts.</li>
			<li>Acting in a commodities dispute over three continents involving two arbitrations and a mediation</li>
			<li>Acting for a commercial property agent to pursue a claim for damages following the publication of allegedly defamatory material relating to its business affairs</li>
			<li>Advising a not-for-profit organisation in relation to its commercial contracts, and an attempt by a competitor to use commercially sensitive data to entice away its client base</li>
			<li>Acting for a technology company in a supply chain quality dispute</li>
			<li>Acting for a property company in a contractual dispute</li>
			<li>Advising a pharmaceutical company in connection with a claim for negligence</li>
			<li>Acting for a trade association in a representative action on behalf of multiple members against suppliers for breach of contract</li>
			<li>Assisting a technology company in a class action</li>
			<li>Advising an overseas television company on English law relating to its dispute with a contractor</li>
			<li>Appearing in an ICC arbitration arising from a technology transfer and factory construction contract based in Asia between Asian and European parties, with a London seat</li>
			<li>Recovering compensation from commercial property developers in the MENA region when the construction projects were abandoned in the financial crisis of 2008</li>
			<li>Acting for a pharmacy in recovering demolition and rebuilding costs and damages for loss of business following damage to its premises</li>
			<li>Acting in an ICC arbitration concerning failure to supply a cargo from South America to the USA under an English law contract</li>
		</ul>
	{% endaccordion %}
</div>

<h5 class="h5 g-color-purple g-font-weight-600 mb-4">Key Contacts</h5>

<div class="row">
	{% include 'keyContact', personID: 'stephen-carter' %}
	{% include 'keyContact', personID: 'simon-thomas' %}
</div>
