---
title: Directors Officers experience
description: Directors and Officers claims, coverage and liability, Side A, Side B, Side C, D&O indemnification

layout: practiceareas
permalink: /directors-officers/
---

<p>Our lawyers have many years’ experience of advising on Directors’ &amp; Officers’ duties and the insurances taken out to indemnify against losses caused by the breach of such duties and the costs of defence.</p>

<p>In an environment of increasing shareholder and regulator activity, we advise on all types and size of dispute, for both boards and individual directors, regardless of their company’s size or area of specialisation.</p>

<div id="accordion-00" class="u-accordion u-accordion-bg-primary u-accordion-color-purple" role="tablist" aria-multiselectable="true">
	{% accordion 'What we do' %}
		<h3 class="h4 g-color-purple g-font-weight-600 g-mb-5">Contentious matters</h3>

		<p>We advise on the full range of disputes relating to directors and officers insurances.</p>

		<p>We also defend Directors and Officers, insolvency practitioners, other parties to whom duties are owed directly and in regulatory investigations.  We are very familiar with all forms of dispute resolution, with particular experience in arbitration and mediation.</p>

		<p>We provide strategic input as to the best approach to resolve specific situations. For example, we monitor claims for insurers in relation to complex litigation and international disputes. Wherever possible, we liaise with underwriters and defence lawyers, so as to promote a practical and cost-effective resolution of the dispute.</p>

		<h3 class="h4 g-color-purple g-font-weight-600 g-mb-5">Non-contentious matters</h3>

		<p>Non-contentious work includes drafting and advising on policy wordings and new products.  We also advise individual directors, companies and groups on their D&O insurance needs, such as whether the emphasis in the purchase of their D&O insurance should be on “Side A” coverage or “Side C” coverage, and on their risk management.</p>
	{% endaccordion %}

	{% accordion 'Our Experience' %}
		<ul>
			<li>Advising on disputes concerning financial investment products and hedging transactions</li>
			<li>Acting in claims against main board directors and senior managers of banks, investment advisers, asset managers and hedge funds, including in relation to the alleged breach of stock exchange rules</li>
			<li>Advising on a claim involving a freezing injunction against the Chairman of a commodity trading company brought by a lender providing receivables financing which believed that it was being provided with false management reports</li>
			<li>Acting for former directors of companies in insolvent liquidation, in the context of investigations into possible misfeasance, pursued on behalf of the liquidators of their failed companies</li>
			<li>Advising a senior executive of a managing agency of a failed insurance company in an international  regulatory investigation</li>
			<li>Advising on the development of a “Side A” product for individual directors, to protect against the exhaustion of a group policy and advising on the distribution of this product</li>
			<li>Advising an international group with a variety of businesses and with over 1,000 directors worldwide on the structure of its D&O insurance programme</li>
			<li>Advising the boards of various professional associations in relation to their duties and obligations under the associations’ articles and statutes</li>
			<li>Advising regulated companies in relation to FCA investigations and enforcement activity</li>
		</ul>
	{% endaccordion %}
</div>

<h2 class="h5 g-color-purple g-font-weight-600 mb-4">Key Contacts</h2>

<div class="row">
	{% include 'keyContact', personID: 'stephen-carter' %}
	{% include 'keyContact', personID: 'samantha-zaozirny' %}
</div>
