---
title: Fine Art
description: "The world of Fine art and antiquities give rise to a myriad of questions for lawyers across the globe."

layout: practiceareas
permalink: /fine-art/
---

<p>The world of Fine art and antiquities give rise to a myriad of questions for lawyers across the globe.  In such highly specialised fields, and with immense sums in issue (in one year, four leading artworks sold for a combined value of $bn in 2017), only the best advice will do.   At Carter Perry Bailey we understand the multitude of problems  that can arise.  We have the skills and resources to interact with the most sophisticated art expert or collector. With knowledge gained over many years, we are able to assist our clients to navigate through the complex legal landscape that frames the art world.</p>

<div id="accordion-00" class="u-accordion u-accordion-bg-primary u-accordion-color-purple" role="tablist" aria-multiselectable="true">
	{% accordion 'What we do' %}
		<p>The legal issues relating to artwork and antiquities are, typically, complex, often spanning differing countries, jurisdictions and choices of law.  Issues of provenance, for example, can date back across a number of decades. Disputes will include whether any limitation / prescription period applies, who now asserts ownership, how / when did they acquire it and how did it come to be sold – was it, for example, subject to a forced sale as part of the Holocaust?</p>

		<p>Artwork can, of course, be a valuable asset.  However, what is a piece really worth? Deciding whether a work is a genuine Rembrandt or (merely) a ‘follower of Rembrandt’ can change the value significantly, requiring a combination of the highest quality science and connoisseurship to resolve.</p>

		<p>In the case of an antiquity not only do such considerations apply but there are also questions as to whether it was excavated legally, from whose property and, therefore, where does primary ownership lie?</p>

		<p>In addition, questions of a seemingly more routine nature can arise.  Where an item becomes damaged a variety of entities could be responsible - the gallery who hung it, the visitor who fell against it or the restorer whose work interacted badly with the original.</p>

		<p>As a firm, we have handled many of those and similar queries. We have advised on Old Masters and modern installations; attribution and valuation; title and provenance, theft and recovery; damage and restoration, and disappearance and deterioration.</p>

		<p>We advise both insurers and policyholders as to what is insured (and what is not) under fine art covers.   We advise as to scope of cover and are familiar with the conditions and exclusions that apply.  Where required, we also pursue resultant subrogation actions.</p>

		<p>As might be anticipated, given the sums in issue and the status of those who own such works, lawyers’ discretion is a vital part of the equation. Nothing damages value like open disputes or public questions about difficult issues.  We act authoritatively but with discretion. Our experience, together with our world-wide connections with other lawyers, gives us a depth and breadth of knowledge enviable throughout the legal and art world on such issues.</p>
	{% endaccordion %}


	{% accordion 'Our Experience' %}
		<p><span class="g-color-purple g-font-weight-900">Accident:</span> Advising owners and insurers on recovery from carriers for damage, including dis-allowance of standard terms of carriage.</p>

		<p><span class="g-color-purple g-font-weight-900">Agency:</span> defending claim against insurers where local law imposed different disclosure obligations from the policy’s express choice of English law.</p>

		<p><span class="g-color-purple g-font-weight-900">Attribution:</span> Acting for the owners of Old Masters whose attribution was contested on how to resolve the situation successfully.</p>

		<p><span class="g-color-purple g-font-weight-900">Bailment:</span> Acting for the owners and insurers of art-works destroyed in fire while stored, damaged while on display, etc.</p>

		<p><span class="g-color-purple g-font-weight-900">Forum:</span> Advising on the appropriate forum for legal action in respect of a painting held by a trust domiciled in country A, which was usually in country B, damaged while in transit in country C from an exhibition in country D; and on many other multi-national issues.</p>

		<p><span class="g-color-purple g-font-weight-900">Holocaust/spoliation/defective title:</span> Advising owners/insurers on defective title allegations due to Holocaust seizure, restitution of price paid due to defective title, etc.</p>

		<p><span class="g-color-purple g-font-weight-900">International:</span> acting for insurers of an old master painting in relation to a claim for damage when overseas.  Issues included coverage, valuation, quantum of damage and appropriate forum (involving lawyers from three jurisdictions).</p>

		<p><span class="g-color-purple g-font-weight-900">Insurance and reinsurance:</span> acting in coverage issues of all sorts.</p>

		<p><span class="g-color-purple g-font-weight-900">Logistics:</span>  Advising a major international auction house on its logistics insurance requirements and policy wording.</p>

		<p><span class="g-color-purple g-font-weight-900">Rewards:</span> Advising on the legality of offering rewards; acting for the offeror of a reward defending proceedings claiming it inappropriately.</p>

		<p><span class="g-color-purple g-font-weight-900">Values:</span> acting for insurers in defence of claims for damage where no visible damage existed, where the original value was zero; re valued policy v. policy limits; where quantum of loss is simply disputed; and where the value after restoration was more than the purchase price.</p>
	{% endaccordion %}
</div>

<h5 class="h5 g-color-purple g-font-weight-600 mb-4">Key Contact</h5>

<div class="row">
	{% include 'keyContact', personID: 'bill-perry' %}
	{% include 'keyContact', personID: 'bernadette-bailey' %}
</div>
