---
title: Insurance
description:

layout: practiceareas
permalink: /insurance/

redirect_from: /fine-art-specie.html
redirect_from: /professional-indemnity.html
redirect_from: /property-casualty.html
redirect_from: /accident-healthcare.html
redirect_from: /contingency-risks.html
redirect_from: /coverage-issues.html
redirect_from: /run-off.html
redirect_from: /regulatory-competition-law.html
redirect_from: /non-contentious-insurance-advice.html
redirect_from: /marine-aviation.html
---

<p>
	All of our lawyers have specialist experience in London and international insurance markets.
</p>

<p>
	We are active in a broad range of classes of insurance business, including:
</p>

<div class="row">
	<div class="col-lg-6">
		<ul>
			<li>Property</li>
			<li>Casualty</li>
			<li>Fine Art and Specie</li>
			<li>Public Liability</li>
			<li>Employers’ Liability</li>
			<li>Products Liability</li>
			<li>Contingency</li>
		</ul>
	</div>

	<div class="col-lg-6">
		<ul>
			<li>Directors &amp; Officers</li>
			<li>Professional and Financial Risks</li>
			<li>Marine &amp; Aviation</li>
			<li>Health and Protection</li>
			<li>Warranty &amp; Indemnity</li>
			<li>Life</li>
			<li>Run-Off</li>
		</ul>
	</div>
</div>

<div id="accordion-11" class="u-accordion u-accordion-bg-primary u-accordion-color-purple" role="tablist" aria-multiselectable="true">
	{% capture accordion %}
		<p>
				We act in disputed claims, in relation to both defence and coverage issues, involving domestic and international litigation and arbitration.  We also advise on policy construction and the application of terms and conditions of a policy to the facts of individual or multiple losses.  We also conduct drafting work, advise on regulatory issues and carry out transactional work – see <a href="/commercial-transactional-regulatory/">Commercial, Transactional and Regulatory</a>.
		</p>

		<p>
				We work with both UK and international insurers, Lloyd’s and those involved in <a href="/broking-agency/">Broking and Agency</a>. Our lawyers are experienced in handling multi-jurisdictional issues arising from international risks and coordinating the requisite representation with overseas lawyers.  In this respect, we enjoy the distinct advantage of being the UK members of <a href="/international-networks/">Insuralex</a>, and of Partners in our firm having been elected to membership of the <a href="/international-networks/">International Association of Defense Counsel</a>, the <a href="/international-networks/">Federation of Defense &amp; Corporate Counsel</a> and the <a href="/international-networks/">Association of Defense Trial Attorneys</a>. As a result of all these memberships, we enjoy  close relations with specialist insurance law firms globally.
		</p>
	{% endcapture %}

	{% include templates/accordion.html title="What we do" accordion="01" content=accordion %}

	{% capture accordion %}
		<h5 class="h5 g-color-purple g-font-weight-600">Non-Contentious:</h5>

		<p>
			Examples of our non-contentious work appear on the <a href="/commercial-transactional-regulatory/">Commercial, Transactional and Regulatory</a> page.
		</p>

		<h5 class="h5 g-color-purple g-font-weight-600">Contentious:</h5>

		<p>
			<span class="g-color-purple g-font-weight-600">Aviation:</span> Advising on an aviation, hull and liability insurance policy following an aviation accident in a Caribbean jurisdiction and pursuing a subrogated claim in the overseas Courts against an airport authority and refuelling contractor.
		</p>

		<p>
			<span class="g-color-purple g-font-weight-600">BBB:</span> Advising on coverage issues involving a claim by a customer against an overseas bank relating to its management of his financial affairs.
		</p>

		<p>
			<span class="g-color-purple g-font-weight-600">Contingency - Sports:</span> Pursuing a claim involving a sporting injury to an international basketball player involving issues of coverage.
		</p>

		<p>
			<span class="g-color-purple g-font-weight-600">Contingency - Film:</span> Acting in film finance disputes concerning slates of insured films, involving issues of coverage and non-disclosure.
		</p>

		<p>We have broad experience of <a href="/directors-officers/">Directors’ &amp; Officers’ Liability</a> claims.</p>

		<p>
			<span class="g-color-purple g-font-weight-600">Employers’ Liability:</span> Representing overseas insurers in a series of industrial injury/industrial disease claims brought against the UK interests of their insureds including issues of coverage, allocation, quantum  and contribution/indemnity.
		</p>

		<p>
			<span class="g-color-purple g-font-weight-600">Fine Art:</span> Advising on a claim involving damage to a valuable oil painting which had suffered minor damage, but was able to be restored without that damage being apparent.  The claim concerned whether the painting’s sale value was prejudiced by such damage.
		</p>

		<p>
			<span class="g-color-purple g-font-weight-600">Fine Art &amp; Specie:</span> Acting in a coverage dispute involving international issues as to the location of the cause of loss of jewellery by fraud.
		</p>

		<p>
			<span class="g-color-purple g-font-weight-600">Liability:</span> Representing a major US corporation in a coverage dispute concerning a multi-million Dollar claim against it by the US government.
		</p>

		<p>
			<span class="g-color-purple g-font-weight-600">Marine:</span> Acting for hull insurers of a cargo vessel lost at sea involving issues of seaworthiness and use of fraudulent devices in the claims process.
		</p>

		<p>
			<span class="g-color-purple g-font-weight-600">Marine:</span> Advising on issues concerning rights to cancel a marine policy covering an overseas insured in proceedings brought overseas where the policy was subject to English law, including questions of whether the local Court would fully enforce the Choice of Law clause and issues of non-disclosure and agency.
		</p>

		<p>
			<span class="g-color-purple g-font-weight-600">Motor:</span> Representing insurers of a Greek transport cooperative in English proceedings relating to a coach accident on Crete in which English nationals were injured, involving issues of international jurisdiction.
		</p>

		<p>
			<span class="g-color-purple g-font-weight-600">Product Liability:</span> Acting for insurers and their policyholder in a claim following the failure of a renewable energy plant, including issues as to the extent of cover, complex jurisdictional issues and contribution claims.
		</p>

		<p>
				We have broad experience of <a href="/professional-financial-risks/">Professional Risks and Financial Lines</a> claims.
		</p>

		<p>
			<span class="g-color-purple g-font-weight-600">Property:</span> Acting in a coverage dispute concerning the demolition and rebuilding of a retail property damaged by a heavy service vehicle and the associated subrogated recovery claim.
		</p>
	{% endcapture %}

	{% include templates/accordion.html title="Our Experience" accordion="02" content=accordion %}

	{% capture accordion %}
		<ul>
			<li>Chambers Guide : Leading Firm in Insurance Contentious Claims</li>
			<li>Legal 500 : Leading Firm in Insurance &amp; Reinsurance Litigation</li>
		</ul>
	{% endcapture %}

	{% include templates/accordion.html title="Directory Recognition" accordion="03" content=accordion %}
</div>

<h5 class="h5 g-color-purple g-font-weight-600 mb-4">Key Contacts</h5>

<div class="row">
	{% include templates/keyContact.html personID="stephen-carter" %}

	{% include templates/keyContact.html personID="bernadette-bailey" %}
</div>
