---
title: Insurance
description: Insurance dispute lawyers, advisory services, coverage and disputes, company disputes, UK insurance  reinsurance law, professional negligence compliance

layout: practiceareas
permalink: /insurance/
---

<p>All of our lawyers have specialist experience in London and international insurance markets.</p>

<p>We are active in a broad range of classes of insurance business, including:</p>

<div class="row">
	<div class="col-lg-6">
		<ul>
			<li>Aviation</li>
			<li>Casualty</li>
			<li>Contentious and Non-Contentious</li>
			<li>Contingency</li>
			<li>Directors & Officers</li>
			<li>Employers’ Liability</li>
			<li>Fine Art and Specie</li>
			<li>Life, Accident & Health</li>
			<li>Marine</li>
		</ul>
	</div>

	<div class="col-lg-6">
		<ul>
			<li>Parametric Insurance</li>
			<li>Products Liability</li>
			<li>Professional, Financial and D&O Risks</li>
			<li>Property</li>
			<li>Public Liability</li>
			<li>Run-Off</li>
			<li>Warranty & Indemnity</li>
			<li>War Risks and Civil Commotion</li>
		</ul>
	</div>
</div>

<div id="accordion-00" class="u-accordion u-accordion-bg-primary u-accordion-color-purple" role="tablist" aria-multiselectable="true">
	{% accordion 'What we do' %}
		<p>We act in disputed claims, in relation to both defence and coverage issues, involving domestic and international litigation and arbitration.  We also advise on policy construction and the application of terms and conditions of a policy to the facts of individual or multiple losses.  We conduct drafting work, advise on regulatory issues and carry out transactional work – see  <a href="/commercial-transactional-regulatory/">Commercial, Transactional and Regulatory</a>.</p>

		<p>We work with both UK and international insurers, Lloyd’s and those involved in <a href="/broking-agency/">Broking and Agency</a>. Our lawyers are experienced in handling multi-jurisdictional issues arising from international risks and coordinating the requisite representation with overseas lawyers. In this respect, we enjoy the distinct advantage of being the UK members of <a href="/international-networks/">Insuralex</a>, and of Partners in our firm having been elected to membership of the <a href="/international-networks/">International Association of Defense Counsel</a>, and the <a href="/international-networks/">Federation of Defense &amp; Corporate Counsel</a>. As a result of all these memberships, we enjoy close relations with specialist insurance lawyers globally.</p>
	{% endaccordion %}

	{% accordion 'Our Experience' %}
		<h3 class="h5 g-color-purple g-font-weight-600">Non-Contentious</h3>

		<p>
			Examples of our non-contentious work appear on the <a href="/commercial-transactional-regulatory/">Commercial, Transactional and Regulatory</a> page.
		</p>

		<h3 class="h5 g-color-purple g-font-weight-600">Contentious</h3>

		<p><span class="g-color-purple g-font-weight-600">Aviation:</span>  Advising on an aviation, hull and liability insurance policy following an aviation accident in a Caribbean jurisdiction and pursuing a subrogated claim in the overseas Courts against an airport authority and refuelling contractor.</p>

		<p><span class="g-color-purple g-font-weight-600">BBB:</span>  Advising on coverage issues involving a claim by a customer against an overseas bank relating to its management of his financial affairs.</p>

		<p><span class="g-color-purple g-font-weight-600">Contingency - Sports:</span>  Pursuing a claim involving a sporting injury to an international basketball player involving issues of coverage.</p>

		<p><span class="g-color-purple g-font-weight-600">Contingency - Film:</span>  Acting in film finance disputes concerning slates of insured films, involving issues of coverage and non-disclosure.</p>

		<p><span class="g-color-purple g-font-weight-600">Employers’ Liability:</span>  Representing overseas insurers in a series of industrial injury / industrial disease claims brought against the UK interests of their insureds including issues of coverage, allocation, quantum and contribution / indemnity.</p>

		<p><span class="g-color-purple g-font-weight-600">Fine Art:</span> Advising on a claim involving damage to a valuable oil painting which had suffered minor damage, but was able to be restored without that damage being apparent.  The claim concerned whether the painting’s sale value was prejudiced by such damage.</p>

		<p><span class="g-color-purple g-font-weight-600">Liability:</span>  Representing a major US corporation in a coverage dispute concerning a multi-million dollar claim against it by the US government.</p>

		<p><span class="g-color-purple g-font-weight-600">Marine:</span>  Acting for hull insurers of a cargo vessel lost at sea involving issues of seaworthiness and use of fraudulent devices in the claims process.</p>

		<p><span class="g-color-purple g-font-weight-600">Marine:</span>  Advising on issues concerning rights to cancel a marine policy covering an overseas insured in proceedings brought overseas where the policy was subject to English law, including questions of whether the local Court would fully enforce the Choice of Law clause and issues of non-disclosure and agency.</p>

		<p><span class="g-color-purple g-font-weight-600">Motor:</span>  Representing insurers of a Greek transport cooperative in English proceedings relating to a coach accident on Crete in which English nationals were injured, involving issues of international jurisdiction.</p>

		<p><span class="g-color-purple g-font-weight-600">Parametric Insurance:</span> advising on issues arising from a disagreement as to the application of the claim calculation methodology in a parametric crop cover.</p>

		<p><span class="g-color-purple g-font-weight-600">Product Liability:</span>  Acting for insurers and their policyholder in a claim following the failure of a renewable energy plant, including issues as to the extent of cover, complex jurisdictional issues and contribution claims.</p>

		<p><span class="g-color-purple g-font-weight-600">Property:</span> Acting in a coverage dispute concerning the demolition and rebuilding of a retail property damaged by a heavy service vehicle and the associated subrogated recovery claim.</p>

		<p><span class="g-color-purple g-font-weight-600">Specie:</span>  Acting in a coverage dispute involving international issues as to the location of the cause of loss of jewellery by fraud.</p>
	{% endaccordion %}

	{% accordion 'Directory Recognition' %}
		{% include 'legal500.html' %}

		<h5 class="h5 g-color-purple g-font-weight-600 mb-4">Who's Who Legal</h5>

		<p>Stephen Carter, Bill Perry and Bernadette Bailey are all recognised as Global Leaders in insurance and reinsurance by Who's Who Legal. Stephen Carter is also recognised as a Thought Leader.</p>

		<h5 class="h5 g-color-purple g-font-weight-600 mb-4">Leaders League</h5>

		<p>Highly recommended in Insurance Litigation (for Insurers)</p>

		<h5 class="h5 g-color-purple g-font-weight-600 mb-4">Chambers Guide</h5>

		<p>Ranked as Leading Firm</p>
	{% endaccordion %}
</div>

<h2 class="h5 g-color-purple g-font-weight-600 mb-4">Key Contacts</h2>

<div class="row">
	{% include 'keyContact', personID: 'stephen-carter' %}
	{% include 'keyContact', personID: 'bernadette-bailey' %}
</div>
