---
title: Life and A&amp;H
description:

layout: practiceareas
permalink: /life-accident-health/
---

<p>
	Approaching 30 years’ experience in advising the life, protection and A&amp;H/ specialty (re)insurance market on contentious and non-contentious matters.
</p>

<div id="accordion-11" class="u-accordion u-accordion-bg-primary u-accordion-color-purple" role="tablist" aria-multiselectable="true">
	{% capture accordion %}
		<div class="row">
			<div class="col-lg-6">
				<ul>
					<li>Bodily injury/accidental cause issues</li>
					<li>Bancassurance</li>
					<li>Broking issues</li>
					<li>Child Cover</li>
					<li>Contingency insurance </li>
					<li>Corporate governance</li>
					<li>Critical illness</li>
					<li>Data protection/ Freedom of Information  </li>
					<li>Employment related issues</li>
					<li>Event cancellation</li>
					<li>Fraud prevention and detection</li>
					<li>Health insurance</li>
					<li>Income protection</li>
					<li>Life assurance</li>
					<li>Loss of licence</li>
					<li>Mediation</li>
				</ul>
			</div>

			<div class="col-lg-6">
				<ul>
					<li>Mental Capacity</li>
					<li>Ombudsman referrals</li>
					<li>Part VII Transfers and run-off</li>
					<li>Permanent Total Disablement</li>
					<li>Personal Accident/ Accident & Sickness</li>
					<li>Policy drafting and interpretation</li>
					<li>Registration and authorisation</li>
					<li>Regulatory and compliance</li>
					<li>Reinsurance disputes</li>
					<li>Sports/ career ending injuries</li>
					<li>Terminal illness</li>
					<li>Travel coverage issues including legal expenses and personal liability</li>
					<li>Treaty drafting and interpretation</li>
					<li>Trusts</li>
					<li>Waiver of Contributions</li>
					<li>Waiver of Premium</li>
				</ul>
			</div>
		</div>
	{% endcapture %}

	{% include templates/accordion.html title="What we do" accordion="01" content=accordion %}

	{% capture accordion %}
		<h5 class="h5 g-color-purple g-font-weight-600">Contentious:</h5>

		<ul>
			<li>Represented reinsurers on allocation and aggregation issues arising from the 9/11 terrorist attacks in USA.</li>
			<li>Advised reinsurer regarding Euro 7m life assurance claim after the apparent sudden cardiac death of a Kazakhstan business man who died in China.</li>
			<li>Represented Friendly Society in the first successful High Court case to proactively set aside an Ombudsman decision (as an alternative to applying for Judicial Review) and obtained a finding that both the Society and the FOS had been defrauded by the insured person in respect of the income protection claim.</li>
			<li>Advised insurer on coverage issues in respect of a claim involving a sporting injury to an international basketball player.</li>
			<li>Advised on many overseas death claims where misrepresentation of residency at the time of the application as well as intentions to travel to higher risk countries is investigated.  The circumstances of these suspicious deaths often appear to involve family and overseas financial disputes and sometimes involve suspected contract killing or torture.</li>
			<li>Advised on “courting of risk” principles in respect of a Personal Accident policy sailing fatality.</li>
			<li>Represented insurer in High Court life assurance claim involving an alleged Bollywood actor, who was believed to be a fictitious character created by the Claimant for the purposes of fraud.</li>
			<li>Experienced in preparing and referring cases to IFED and Action Fraud in respect of suspected fraudulent insurance claims (UK related and global).</li>
			<li>Experienced in handling Personal Accident and suicide claims in relation to current and former armed forces personnel and security/ close protection officers.</li>
			<li>Represented insurer in respect of Critical Illness (Permanent Total Disablement benefit) claim for £750,000 regarding a dentist who stated that he developed fibromyalgia after a stationery rear shunt RTA at 5mph.</li>
			<li>Advised several insurers in relation to Freezing Orders regarding the life policy proceeds over £1M in the context of embezzlement proceeds against the life assured’s Estate.  The life assured had disappeared in his light aircraft, having a pattern of building up business debts across several continents.</li>
			<li>Represented the Personal Accident insurers in respect of a £1M PTD claim by a Formula 1 racing driver based in Monaco.</li>
			<li>Experienced in advising on Group and Individual income protection claims in relation to a wide range of occupations and psychological/physical illnesses and injuries, with particular expertise in relation to dentists, solicitors and pilots.</li>
			<li>Advised on liability to pay any proceeds of policy monies and the validity of trust arrangements in the context of the suspected murder of a wife by her husband.</li>
			<li>Experienced in advising on Ombudsman referrals and liaising with the adjudicators and Ombudsmen at various stages of the complaint resolution process.</li>
			<li>Advised income protection and life insurers regarding mental capacity issues relating to cancellation of cover or failure to pay premiums, including scenarios where the person has subsequently committed suicide and a person with affordability issues who has subsequently been diagnosed with a brain tumour.</li>
			<li>Provide coverage advice and a monitoring service of overseas lawyers in respect of legal expenses and personal liability claims relating to group and individual travel policies, including in particular skiing incidents and education related cover (teachers and students).</li>
			<li>Frequently asked to advise on causation, insurance policy interpretation and claims management in the context of the particular cover, regarding complex conditions such as fibromyalgia, complex regional pain syndrome, chronic fatigue syndrome, non-freezing cold injury (NFCI), functional neurological disorder (FND), traumatic brain injury (TBI) and cardiac conditions.</li>
			<li>Advised on disagreements between insurers and reinsurers including fatal helicopter crash in Ecuador and pattern of early child Critical Illness claims.</li>
			<li>Advised on disputes between insurers and financial advisers including claw-back issues.</li>
		</ul>

		<h5 class="h5 g-color-purple g-font-weight-600">Non-Contentious:</h5>

		<ul>
			<li>Drafted individual life and critical illness policy and Flexible Trust Deed for bancassurer starting UK business under passported authorisation rights.  Sourced and coordinated advice from Scottish lawyers and tax specialist.</li>
			<li>Advised on and drafted a Terms of Business Agreement between a new life insurer and intermediaries doing direct business through its’ website portal.</li>
			<li>Obtained advice from a US lawyer regarding a suspected licensing breach in respect of life assurance for US expatriates by a Lloyd’s Syndicate and assisted with communications with the Lloyd’s Compliance Office.</li>
			<li>Advised on drafting of a Friendly Society’s privacy notice, claim form and application forms to ensure compliance with GDPR/ Data Protection Act 2018, and coordinated related advice from a Dublin lawyer.</li>
			<li>Drafted Group Life (Approved and FURBS – as known at the time), Income Protection and Critical Illness policies and related application and claim forms, including coordinating Definitive Trust Deed updating advice from specialist Trusts counsel.</li>
			<li>Advised Bermudian Reinsurer on permitted activities from the UK branch relating to new business proposals involving pandemic issues.</li>
			<li>Part of global GDPR compliance project, which included drafting Special Category data protection impact assessment (DPIA) in respect of processing within the UK.</li>
			<li>Advised on drafting and interpretation of Sports related A&H cover.</li>
			<li>Advised on Part VII Transfers.</li>
			<li>Advised on FCA registration.</li>
			<li>Advised on the setting up of a Friendly Society, its insurance contract and reinsurance protections.</li>
			<li>Advised on regulatory implications of the provision of life assurance by an unincorporated military association to its members.</li>
		</ul>
	{% endcapture %}

	{% include templates/accordion.html title="Our Experience" accordion="02" content=accordion %}
</div>

<h5 class="h5 g-color-purple g-font-weight-600 mb-4">Key Contacts</h5>

<div class="row">
	{% include templates/keyContact.html personID="helen-tilley" %}
</div>
