---
title: Marine & Aviation
description: Advising insurers and policyholders on value, title and provenance, theft and recovery; damage and restoration, disappearance and deterioration

layout: practiceareas
permalink: /marine-aviation/
---

<p>The London insurance market grew from arranging the insurance of maritime ventures at Edward Lloyd’s Coffee House in the 17th Century.  Today, London remains the major hub not only for marine insurance, but for marine and aviation insurance and reinsurance globally.  Our lawyers have broad experience of acting in these classes of business.</p>

<div id="accordion-00" class="u-accordion u-accordion-bg-primary u-accordion-color-purple" role="tablist" aria-multiselectable="true">
	{% accordion 'What we do' %}
		<p>We act in marine and aviation insurance and reinsurance matters.  Our experience includes both all risks and war risks coverage, general aviation claims and marine claims issues.  In reinsurance, we have acted in both facultative and treaty matters, proportional and non-proportional.  Our clients have included insurers, reinsurers, brokers, coverholders, risk managers and shipowners.  We have been active in war risk, political violence and terrorism issues arising out of Ukraine, the Middle East, North Africa and East Africa, as well as the 9/11 terrorist attacks in the USA.  The work is, of its nature, very international in respect of both clientele and location of risk.  We are therefore accustomed to working with overseas lawyers, where input is required on issues of foreign law.</p>

		<p><a href="/people/paul-bugden/">Paul Bugden</a> has wide-ranging experience of sitting as an arbitrator in marine and other international arbitrations, under LMAA, ICC, LCIA and UNCITRAL Rules, as well as in ad hoc arbitrations.  Paul is a fellow of the Chartered Institute of Arbitrators (“FCIArb”).  Paul is also the co-author of “Goods in Transit” (pub. Sweet & Maxwell).</p>
	{% endaccordion %}

	{% accordion 'Examples of our Experience - Marine' %}
		<h3 class="h5 g-color-purple g-font-weight-600">Contentious</h3>

		<p><span class="g-color-purple g-font-weight-900">Proper Law/Coverage:</span>  Advising on issues concerning rights to cancel a marine policy covering an overseas insured in proceedings brought overseas, where the policy was subject to English law, including questions of whether the local Court would fully enforce the Choice of Law Clause and issues of non-disclosure and agency.</p>

		<p><span class="g-color-purple g-font-weight-900">Marine Coverholder:</span>  Acting for insurers in a dispute with their coverholder relating to the operation and accounting of a marine binding authority and dealing with claims purportedly arising under contracts purportedly bound.</p>

		<p><span class="g-color-purple g-font-weight-900">Shipbuilding – Refund Guarantee Reinsurance:</span>  Acting for facultative reinsurers of shipbuilding refund guarantees issued by overseas insurers, involving coverage of insolvency events, non-disclosure arguments and applicable law issues, proceeding by way of an overseas institutional international arbitration.</p>

		<p><span class="g-color-purple g-font-weight-900">Marine Hull Coverage:</span>  Acting for insurers of a cargo vessel lost at sea, involving issues of seaworthiness and use of fraudulent devices in the claims process.</p>

		<p><span class="g-color-purple g-font-weight-900">Marine Hull Coverage:</span>  “Class maintained” warranty issues under a marine hull policy following the sinking of a livestock carrier.</p>

		<p><span class="g-color-purple g-font-weight-900">Marine Hull Reinsurance:</span>  Acting for the reinsured in a series of marine hull claims against reinsurers, involving issues concerning the manner of the placements by insurance and reinsurance brokers.</p>

		<p><span class="g-color-purple g-font-weight-900">Marine Hull Subrogation:</span>  Acting for hull insurers of a bulk carrier in a claim against a tanker, by way of subrogation, following a collision at sea.</p>

		<p><span class="g-color-purple g-font-weight-900">Pleasure & Charter Insurance:</span>  Acting for insurers of a company providing pleasure boat trips at a Caribbean holiday resort, following the death of a passenger engaged in a snorkelling trip.</p>

		<p><span class="g-color-purple g-font-weight-900">War Risks:</span>  Recoveries for Gulf agencies following the loss of possession of some 200 vessels in the Shatt Al Arab, consequent on the Iraq conflict with Iran.</p>

		<p><span class="g-color-purple g-font-weight-900">War Risks:</span>  Insurance/reinsurance coverage litigation under a hull war risks policy arising out of an attack using limpet mines on a Middle Eastern oil tanker in the Gulf.</p>

		<p><span class="g-color-purple g-font-weight-900">Yacht Charter:</span>  Acting for insurers under a Private & Pleasure and Charter Marine Yacht Insurance, following the loss of a yacht in the course of delivery from an overseas boatyard, involving issues of unseaworthiness.</p>

		<p><span class="g-color-purple g-font-weight-900">Yacht Hull & Machinery Policy:</span>  Claim under a yacht hull & machinery policy following a loss by fire and consequent subrogated claim against a boatyard.</p>
		{% endaccordion %}


		{% accordion 'Examples of our Experience - Aviation' %}
			<h3 class="h5 g-color-purple g-font-weight-600">Contentious</h3>

			<p><span class="g-color-purple g-font-weight-900">Aggregation:</span>  Advising on claims arising from the same circumstances brought by various reinsureds under several aviation war risks property/catastrophe reinsurance treaties with different aggregation provisions.</p>

			<p><span class="g-color-purple g-font-weight-900">Aviation Coverholder:</span>  A dispute between an insurer and its US MGA concerning its operation of a general aviation binding authority agreement.</p>

			<p><span class="g-color-purple g-font-weight-900">Aviation Ground Risks:</span>  Acting for the insurer in a reinsurance claim arising from a collision between a jumbo jet and a large industrial lawnmower at an international airport, involving coverage issues, including whether the lawnmower fell under the tool of trade exclusion.</p>

			<p><span class="g-color-purple g-font-weight-900">Aviation Hull All Risks & Hull War Risks Reinsurance:</span>  Acting for aviation hull all risks and hull war risks reinsurers in a series of claims relating to civil aircraft that were not returned from Russia, as required by lessors following commencement of the Ukraine war.</p>

			<p><span class="g-color-purple g-font-weight-900">Aviation Hull & Liability Reinsurance:</span>  Advice to overseas lawyers on English law implications of settlement of a constructive total loss claim under an aviation hull and liability reinsurance.</p>

			<p><span class="g-color-purple g-font-weight-900">Aviation Hull War Risks Reinsurance:</span>  Advising the lead reinsurer under several aviation hull and war risks reinsurance treaties, as to coverage and aggregation of losses to aircraft damaged or destroyed during attacks by militias on an international airport.</p>

			<p><span class="g-color-purple g-font-weight-900">Aviation Liability Reinsurance:</span>  Representing a leading aviation insurer in relation to reinsurance recoveries under its excess of loss programme, with respect to APH claims relating to a period spanning around 40 years.</p>

			<p><span class="g-color-purple g-font-weight-900">Aviation Reinsurance:</span>  Recovery of aviation reinsurance claims monies following the lifting of sanctions on Iraq.</p>

			<p><span class="g-color-purple g-font-weight-900">Cargo Airline Insolvency:</span>  A dispute over the entitlement to the insurance proceeds recovered under a personal accident policy provided by the insolvent charter airline company to its pilots.</p>

			<p><span class="g-color-purple g-font-weight-900">General Aviation Hull & Liability:</span>  Advising on an aviation hull and liability insurance policy, following an aviation accident in a Caribbean jurisdiction and pursuing a subrogated claim in the overseas Courts against an airport authority and refuelling contractor.</p>

			<p><span class="g-color-purple g-font-weight-900">Hull All Risks:</span>  Total loss claim under a hull all risks policy, involving issues of airworthiness.</p>

			<p><span class="g-color-purple g-font-weight-900">Sanctions:</span>  Advice to an aviation reinsurer concerning sanctions applicable in respect of airfreight to Cuba.</p>
		{% endaccordion %}

		{% accordion 'Directory Recognition' %}
			{% include 'legal500.html' %}

			<h5 class="h5 g-color-purple g-font-weight-600 mb-4">Who's Who Legal</h5>

			<p>Stephen Carter, Bill Perry and Bernadette Bailey are all recognised as Global Leaders in insurance and reinsurance by Who’s Who Legal.  Stephen Carter is also recognised as a Thought Leader.</p>

			<h5 class="h5 g-color-purple g-font-weight-600 mb-4">Leaders League</h5>

			<p>Highly recommended in Insurance Litigation (for Insurers)</p>

			<h5 class="h5 g-color-purple g-font-weight-600 mb-4">Chambers Guide</h5>

			<p>Ranked as Leading Firm</p>
		{% endaccordion %}
</div>

<h2 class="h5 g-color-purple g-font-weight-600 mb-4">Key Contacts</h2>

<div class="row">
	{% include 'keyContact', personID: 'stephen-carter' %}
	{% include 'keyContact', personID: 'paul-bugden' %}
</div>
