---
title: Professional, Financial and D&O Risks
description: Professional negligence disputes and claims against solicitors, architects and insurance brokers, professional financial and non-financial risks

layout: practiceareas
permalink: /professional-financial-risks/
---

<p>Our specialists in professional indemnity and financial lines insurances bring with them a thorough understanding of the challenges presented by claims made against professional firms and financial institutions.  We provide advice to both insurers and their policyholders to protect their financial and reputational interests.</p>

<p>We have many years experience of advising insurers, reinsurers, brokers, policy holders and insolvency practitioners on all forms of financial lines insurance, including, Bankers’ Blanket Bonds, crime insurances and computer crime wordings.</p>

<p>The work often has an international dimension and we work closely with our <a href="/international-networks/">International Networks</a> of insurance lawyers, in particular <a href="/international-networks/">Insuralex</a>, when required.</p>

<div id="accordion-00" class="u-accordion u-accordion-bg-primary u-accordion-color-purple" role="tablist" aria-multiselectable="true">
	{% accordion 'What we do' %}
		<h3 class="h6 g-color-purple g-font-weight-600 mb-4">Professional Risks</h3>

		<div class="row">
			<div class="col-lg-4">
				<ul>
					<li>Accountants</li>
					<li>Architects</li>
					<li>Commercial/Property Agents</li>
					<li>Directors & Officers</li>
					<li>Engineers</li>
				</ul>
			</div>

			<div class="col-lg-4">
				<ul>
					<li>Financial Institutions & Traders</li>
					<li>Fine Art & Specie</li>
					<li>Insurance Brokers</li>
					<li>Investment Advisers & Managers</li>
					<li>Miscellaneous</li>
				</ul>
			</div>

			<div class="col-lg-4">
				<ul>
					<li>Pharmacists</li>
					<li>Property Management Companies</li>
					<li>Solicitors</li>
					<li>Surveyors/Valuers</li>
					<li>Trustees & Executors</li>
				</ul>
			</div>
		</div>

		<p>Our team deals with the full range of professional negligence and financial lines matters, from the smallest claims brought by litigants in person through to claims of the highest value and complexity involving multiple parties covering both domestic (UK) claims and <a href="/international-disputes/">International Disputes</a>.  Our practice includes defence, coverage, corporate and regulatory work.</p>

		<p>We focus on the insurance industry and understand business needs and the pressures and issues faced by all those involved on a daily basis.  We work closely with our clients to identify the solutions that best protect their interests.  Where this involves settling claims, we will move quickly to achieve this.  Where it means defending clients, we will do so with the resources and support of a firm focused on the insurance sector.</p>

		<p>Several members of our team benefit from time spent working within the claims teams of leading insurers.  This insight, developed over many years, has enabled our lawyers to build a market-renowned reputation for the delivery of high quality advice and service across all areas of professional indemnity.</p>
	{% endaccordion %}

	{% accordion 'Directory Recognition' %}
		<h3 class="h3 g-color-purple g-font-weight-600 mb-4">Legal 500: Leading Firm in Professional Negligence</h3>

		<p><em>“The USP is the involvement and genuine thought given to cases by the partners.”</em></p>

		<p><em>“Because Carter Perry Bailey LLP is a small practice, the partners are hands on and it is easier to establish a meaningful working relationship with the fee earner. There is definitely added value if a close working relationship between client and the fee earner can be established.”</em></p>

		<p><em>“They are a very experienced team, where you can be assured that one of the partners will bring their considerable skill and experience to work on your case.”</em></p>

		<p><em>“The team at the firm have excellent subject matter expertise, are very pragmatic and accessible. They all go the extra mile for the client and every assignment, however big or small, matters.”</em></p>

		<p><em>“Carter Perry Bailey LLP is a 'boutique firm that offers a bespoke service', it stands out for its 'attention to detail' with clients benefitting from ‘the involvement and genuine thought given to cases by the partners’. The team is instructed by insurers, reinsurers, insurance brokers, financial institutions, public authorities and corporates, and its expertise spans defence and coverage advice, claimant work for insurance entities, and it also provides professional indemnity insurance advice to other corporations and public authorities.”</em></p>

		<p><em>“‘approachable’, ‘agile and proactive, and moves quickly when needed’… praised for its ‘tailored service’ and it delivers a ‘personal touch’.  The group handles professional negligence cases for various insurers, and is adept at handling matters involving insurance brokers, solicitors, property agents and financial institutions.”</em></p>
	{% endaccordion %}
</div>

<h2 class="h5 g-color-purple g-font-weight-600 mb-4">Key Contacts</h2>

<div class="row">
	{% include 'keyContact', personID: 'bernadette-bailey' %}
	{% include 'keyContact', personID: 'dean-de-cesare' %}
</div>
