---
title: Professional and Financial Risks
description:

layout: practiceareas
permalink: /professional-financial-risks/

redirect_from: /accident-healthcare.html
---

<p>Our specialists in professional indemnity and financial lines insurances bring with them a thorough understanding of the challenges presented by claims made against professional firms and financial institutions.  We provide advice to both insurers and their policyholders to protect their financial and reputational interests.</p>

<p>We have many years experience of advising insurers, reinsurers, brokers, policy holders and insolvency practitioners on all forms of financial lines insurance, including, Bankers’ Blanket Bonds, crime insurances and computer crime wordings.</p>


<p>The work often has an international dimension and we work closely with our <a href="/international-networks/">International Networks</a> of insurance lawyers, in particular <a href="/international-networks/">Insuralex</a>, when required.</p>

<div id="accordion-00" class="u-accordion u-accordion-bg-primary u-accordion-color-purple" role="tablist" aria-multiselectable="true">
	{% accordion 'What we do' %}
		<h6 class="h6 g-color-purple g-font-weight-600 mb-4">Professional Risks</h6>

		<div class="row">
			<div class="col-lg-6">
				<ul>
					<li>accountants</li>
					<li>commercial / property agents</li>
					<li>fine art & specie</li>
					<li>miscellaneous</li>
					<li>property management companies</li>
					<li>surveyors / valuers</li>
				</ul>
			</div>

			<div class="col-lg-6">
				<ul>
					<li>architects</li>
					<li>engineers</li>
					<li>insurance brokers</li>
					<li>pharmacists</li>
					<li>solicitors</li>
					<li>trustees and executors</li>
				</ul>
			</div>
		</div>

		<h6 class="h6 g-color-purple g-font-weight-600 mb-4">Financial Lines</h6>

		<div class="row">
			<div class="col-lg-6">
				<ul>
					<li>Bankers’ Blanket Bonds</li>
					<li>consulting stock brokers</li>
					<li>hedge funds</li>
				</ul>
			</div>

			<div class="col-lg-6">
				<ul>
					<li>commodity traders</li>
					<li>financial institutions</li>
					<li>investment advisers</li>
				</ul>
			</div>
		</div>

		<p>Our team deals with the full range of professional negligence and financial lines matters, from the smallest claims brought by litigants in person through to claims of the highest value and complexity involving multiple parties covering both domestic (UK) claims and <a href="/international-disputes/">International Disputes</a>. Our practice includes defence, coverage, corporate and regulatory work.</p>

		<p>We focus on the insurance industry and understand business needs and the pressures and issues faced by all those involved on a daily basis.  We work closely with our clients to identify the solutions that best protect their interests.  Where this involves settling claims, we will move quickly to achieve this.  Where it means defending clients, we will do so with the resources and support of a firm focused on the insurance sector.</p>

		<p>Several members of our PI team benefit from time spent working within the claims teams of leading London market insurers.  This insight, developed over many years, has enabled our lawyers to build a market-renowned reputation for the delivery of high quality advice and service across all areas of professional indemnity.</p>
	{% endaccordion %}

	{% accordion 'At a glance' %}
		<h5 class="h5 g-color-purple g-font-weight-600 mb-4">Professional Risks</h6>
		<h6 class="h6 g-color-purple g-font-weight-600 mb-4">Solicitors</h6>

		<ul>
			<li>Defending a multi-million pound claim arising out of a US arbitration</li>
			<li>Mediating a claim relating to disputed oil and gas exploration rights</li>
			<li>Advising on claims arising out of £500m fraud perpetrated in the Middle East</li>
			<li>Resolving a multi party claim arising from tax advice on £1.5m investment in US securities</li>
			<li>Settling a claim arising from pension sharing orders (family)</li>
			<li>Advising insurers on coverage issues relating to notification, dishonesty and extent of professional practice and services</li>
		</ul>

		<h6 class="h6 g-color-purple g-font-weight-600 mb-4">Accountants</h6>
		<ul>
			<li>Defending claims arising from a HMRC investigation following allegedly wrongful treatment of provisions</li>
			<li>Defending claims and dealing with regulatory issues arising from a DTI prosecution following insolvent trading by Claimant company</li>
			<li>Resisting claim made arising from the winding up and dissolution of a Company with retained assets</li>
		</ul>

		<h6 class="h6 g-color-purple g-font-weight-600 mb-4">Architects</h6>
		<ul>
			<li>Acting in a £2.5m+ multi party claim arising from a PFI Education project</li>
			<li>Defending claims made following structural damage to airside service building at Heathrow T5</li>
		</ul>

		<h6 class="h6 g-color-purple g-font-weight-600 mb-4">Commercial/Property Agents</h6>
		<ul>
			<li>Defending claim brought by UK nationals returning from overseas business secondment.  Alleged failure to terminate tenant’s lease leading to significant claim for alternative accommodation and associated losses</li>
			<li>Successfully defeating (at trial) claim relating to a competitive tender for sale of business premises</li>
		</ul>

		<h6 class="h6 g-color-purple g-font-weight-600 mb-4">Coverage</h6>
		<ul>
			<li>Advising London Market insurers in resisting notification of a claim (wrongful use of client account and acting outside the scope of professional practice)</li>
			<li>Acting for insurers in declining a notification by overseas-based trust entity relating to claims arising from a failed investment scheme</li>
			<li>Advising overseas based investment bank in relation to notifications on combined PI/D&O/BBB policy</li>
			<li>Acting in connection with notifications on PI and D&O policy in respect of claims made by EU-based liquidators</li>
		</ul>

		<h6 class="h6 g-color-purple g-font-weight-600 mb-4">Engineers</h6>
		<ul>
			<li>Advising insurers and their insured in connection with a claim arising from failed pipework at a major UK gas facility</li>
			<li>Defending claims made arising from the failure of digestate lagoon facility on a biogas power plant</li>
		</ul>

		<h6 class="h6 g-color-purple g-font-weight-600 mb-4">Fine Art & Specie</h6>
		<ul>
			<li>Advising insurers and their policyholders on negligent valuations, title and attribution disputes and entitlement to reward money</li>
			<li>Advising insurers on damage to artwork (stored and displayed)</li>
			<li>Advising on insurance arrangements and drafting policy wordings</li>
			<li>Advising insurers on lost and stored artwork and bailee’s liability</li>
		</ul>

		<h6 class="h6 g-color-purple g-font-weight-600 mb-4">Insurance brokers</h6>
		<ul>
			<li>Acting for a placing broker regarding non-acceptance by London Market insurers of Venezuelan property risks.  Successful outcome at mediation to include recovery of costs</li>
			<li>Defending claim regarding blanket notification of pension loss claims to insurers</li>
			<li>Advising brokers and insurers on a multi million pound claim following significant flooding of commercial premises.  Issues include average, underinsurance, and scope of duties owed to commercial clients</li>
			<li>Representing a US surplus lines broker, through its insurers, in a London arbitration with its principals under a coverholder agreement relating to a US-wide book of business</li>
			<li>Advising in a dispute between an insurance agent and its international insurer principal on the one hand and a coverholder on the other relating to the underwriting and management of a UK book of business</li>
		</ul>

		<h6 class="h6 g-color-purple g-font-weight-600 mb-4">Independent Financial Advisors</h6>
		<ul>
			<li>Defending claims regarding the surrender of various investment products in favour of allegedly more beneficial longer term alternates</li>
			<li>Acting for a national network of IFAs and its insurers in dealing with a broad range of complaints and claims made to the Ombudsman</li>
		</ul>

		<h6 class="h6 g-color-purple g-font-weight-600 mb-4">Pharmacists</h6>
		<ul>
			<li>Advising on the meaning of various clauses contained in a pharmacist’s policy wording and on the requirement for run-off cover</li>
			<li>Acting for a pharmacist’s insurer in a coverage issue relating to a number of claims notified late purportedly under prior years’ policies</li>
		</ul>

		<h6 class="h6 g-color-purple g-font-weight-600 mb-4">Policy drafting</h6>
		<ul>
			<li>Advising a multinational investment bank and its brokers and drafting a combined PI, D&O and fidelity policy</li>
			<li>Advising Government and public bodies on their insurance requirements</li>
			<li>Advising and carrying out policy ‘health checks’ on behalf of a number of commercial clients</li>
			<li>Advising underwriters on the scope and extent of wordings to be adopted on renewal</li>
			<li>Revising and drafting a suite of policies for a London-based insurer’s professional indemnity offering</li>
		</ul>

		<h6 class="h6 g-color-purple g-font-weight-600 mb-4">Surveyors/valuers</h6>
		<ul>
			<li>Acting in the defence of a £1m+ claim arising from alleged over-valuation of commercial premises</li>
			<li>Advising on a claim where a report had failed to correctly identify the extent of land to be charged to a lender</li>
			<li>Advising in various claims involving failures to follow the chain of enquiry (dampness, wet and dry rot, death watch beetle, lack of structural support)</li>
			<li>Handling lender claims (residential and commercial property)</li>
		</ul>

		<h6 class="h6 g-color-purple g-font-weight-600 mb-4">Trustees & executors</h6>
		<ul>
			<li>Acting on a substantial dispute between a residuary beneficiary of an English law trust being operated through civil law structures in Europe and with world-wide beneficiaries, seeking replacement of the trustee and damages, involving injunctions and multiple proceedings in several jurisdictions</li>
			<li>Advising and acting on behalf of a patron against charitable trustees relating to their management of a charitable trust and choice of beneficiaries</li>
			<li>Pursuing a claim against the trustees of a family trust for misallocation of trust property and the effectiveness of exemption clauses</li>
			<li>Acting for disappointed legatees inheritances of which they were deprived by a Will executed on multiple occasions without capacity</li>
		</ul>

		<h6 class="h6 g-color-purple g-font-weight-600 mb-4">Miscellaneous</h6>
		<p>The breadth and depth of our team’s experience extends also to defending claims against:</p>
		<ul>
			<li>Barristers – advising on settlement offer made in a commercial dispute relating to restrictive covenants</li>
			<li>Dentists – handling claims against dentists arising from negligent treatment of patients</li>
			<li>Insurance professionals – advising in a multi million pound claim against a claim handling TPA for “leakage” on various books of account</li>
			<li>Selling agents – advising in common law and statutory liability relating to misdescription of property</li>
			<li>Managing Agents - advising a senior executive of a managing agency of a failed insurance company in an international regulatory investigation</li>
		</ul>

		<h6 class="h6 g-color-purple g-font-weight-600 mb-4">Financial Lines</h6>
		<ul>
			<li>Banks – providing coverage advice in respect of a claim where a dishonest branch manager had not taken 14 days consecutive leave, in breach of a condition precedent appearing in a group policy, but not in the local policy</li>
			<li>Banks/BBB - advising on coverage under a “internet banking clause” for loss arising from hacked emails</li>
			<li>BBB - acting for insurers of an overseas broker in relation to separate slips providing BBB insurance to an overseas bank, including aggregation and non-disclosure issues, arising from a US$20m+ fraud on the bank including consequent issues of recoverability under reinsurance</li>
			<li>BBB/D&O - acting for insurers of a global bank in relation to BBB and D&O claims arising from the US$1bn+ collapse of another overseas bank in which it invested (including simultaneous overseas Court proceedings and English arbitration)</li>
			<li>Banks – providing coverage advice where the condition precedent in the loss notification clause had not been complied with due to Swiss banking secrecy law</li>
			<li>Investment adviser - advising as to the extent that mitigation costs were recoverable as defence costs</li>
			<li>Hedge Funds - acting on various disputes concerning financial investment products and hedging transactions</li>
			<li>Banks/investment advisers/asset mangers and hedge funds - acting on claims against directors and senior managers of banks, investment advisers, asset managers and hedge funds, following alleged breach of stock exchange rules</li>
			<li>Commodity traders - acting on a claim, involving a freezing injunction, against the Chairman of a commodity trading company brought by a lender providing receivables financing which believed that it was being provided with false management reports</li>
			<li>Insolvency - acting for former directors of companies in insolvent liquidation, in the context of investigations into possible misfeasance, pursued on behalf of the liquidators of their failed companies</li>
		</ul>
	{% endaccordion %}

	{% accordion 'Directory Recognition' %}
		<h5 class="h5 g-color-purple g-font-weight-600 mb-4">Legal 500: Leading Firm in Professional Negligence</h5>

		<p>Mark Aizlewood, Simon Thomas, William Sturge and Samantha Zaozirny recommended</p>

		<p><a href="https://www.legal500.com/firms/3413/offices/4923" target="_blank">Carter Perry Bailey LLP</a> is a '<em>boutique firm that offers a bespoke service</em>' and it stands out for its '<em>attention to detail</em>'. The team is instructed by insurers, reinsurers, insurance brokers, financial institutions, public authorities and corporates, and its expertise spans defence and coverage advice, claimant work for insurance entities, and it also provides professional indemnity insurance advice to other corporations and public authorities.</p>

		<p>“ <em>‘approachable’, ‘agile and proactive, and moves quickly when needed’</em>… praised for its ‘<em>tailored service</em>’ and it delivers a ‘<em>personal touch</em>’. The group handles professional negligence cases for various insurers, and is adept at handling matters involving insurance brokers, solicitors, property agents and financial institutions.”</p>
	{% endaccordion %}
</div>

<h5 class="h5 g-color-purple g-font-weight-600 mb-4">Key Contacts</h5>

<div class="row">
	{% include keyContact, personID: 'mark-aizlewood' %}
	{% include keyContact, personID: 'simon-thomas' %}
	{% include keyContact, personID: 'samantha-zaozirny' %}
</div>
