---
title: Reinsurance
description:

layout: practiceareas
permalink: /reinsurance/

redirect_from: /reinsurance.html
---

<p>Reinsurance is a field requiring specialist expertise in the customs and practices of the international marketplace.  Our lawyers have been at the heart of that marketplace for the last 30 years. We are active in a broad range of reinsurance business, including alternative risk transfer, facultative, ILS backed, proportional, non-proportional and treaty.</p>

<div id="accordion-11" class="u-accordion u-accordion-bg-primary u-accordion-color-purple" role="tablist" aria-multiselectable="true">
	{% capture accordion %}
		<p>Whether you are an insurance company, a Lloyd’s Syndicate, a reinsurer, a retrocessionaire, a pool or any other participant in the business of reinsurance – for example  brokers, agents, consultants, run-off managers – we have the specialist expertise to work with you.  We are experienced in handling complex international reinsurance litigation and arbitration.  We advise on issues arising from reinsurance contracts, such as “follow the settlements”, aggregation issues, “back-to-back”, duty of good faith, applicable law, international jurisdiction, underwriting authority and intra-pool relationships.  We are active in both the live and run-off markets.</p>

		<p>We have been involved in some of the major issues facing the reinsurance market, including conducting the successful appeal to the House of Lords in the leading international reinsurance case – <em>AGF &amp; WASA v Lexington</em>.</p>

		<p>Our full range of services also includes drafting reinsurance contracts, agency, broking agreements and commutations, run-off and finality solutions, and <a href="/commercial-transactional-regulatory/">Commercial, Transactional and Regulatory</a> advice.</p>

		<p>Whatever your reinsurance issue or requirement, we will work with you to resolve it or implement it.</p>
	{% endcapture %}

	{% include templates/accordion.html title="What we do" accordion="01" content=accordion %}

	{% capture accordion %}
		<h4 class="h4 g-color-purple g-font-weight-600 g-mb-5">Contentious</h4>

		<p><span class="g-color-purple g-font-weight-900">All Risks and Civil Commotion</span>: Advising on collection of several overseas political violence claims involving issues of aggregation and what constitutes reasonable evidence of loss.</p>

		<p><span class="g-color-purple g-font-weight-900">BBB/Computer Crime</span>: Claiming under a facultative reinsurance of an internet banking endorsement to the computer crime section of a BBB, involving coverage or losses caused by fraudulent email instructions.</p>

		<p><span class="g-color-purple g-font-weight-900">Financial Risks</span>: Advising on issues of trigger events in relation to PPI claims.</p>

		<p><span class="g-color-purple g-font-weight-900">Fine Art</span>: Acting in a claim involving facultative reinsurance of an overseas insurer which, in turn, insured an art dealer who suffered substantial damage to stock.  Issues included the impact on the reinsurance of local law requiring the insurer to pay for reasons which were not directly associated with the policy.</p>

		<p><span class="g-color-purple g-font-weight-900">Incorporation of terms from underlying</span>: Advising on issues concerning incorporation of underlying conditions and proper law and jurisdiction in relation to reinsurance and retrocessionary business.</p>

		<p><span class="g-color-purple g-font-weight-900">International Arbitration</span>: Acting for the reinsured in a dispute, the key to which was where the seat of an arbitration should be, and whether this issue was for the tribunal or the Courts (and, if so, in which jurisdiction) to decide.</p>

		<p><span class="g-color-purple g-font-weight-900">Life, Accident &amp; Health</span>: Representing reinsurers in allocation and aggregation issues arising from the 9/11 terrorist attacks in USA.</p>

		<p><span class="g-color-purple g-font-weight-900">Marine/Financial Risks</span>: Acting for facultative reinsurers of shipbuilding refund guarantees issued by overseas insurers, involving coverage of insolvency events, non-disclosure arguments and applicable law issues, proceeding by way of an overseas institutional international arbitration.</p>

		<p><span class="g-color-purple g-font-weight-900">Property / Political Violence</span>: Advising overseas brokers in respect of an arson claim relating to a Middle Eastern hotel, involving issues of whether the arson was political violence, and hence covered.</p>

		<p><span class="g-color-purple g-font-weight-900">Property</span>: Acting in reinsurance disputes involving issues of abandonment, causation, aggregation, claims control, Premium Payment Warranties and central banks foreign currency control.</p>

		<p><span class="g-color-purple g-font-weight-900">Agency Fraud</span>: Acting for an overseas insurer who gave underwriting authority to an agent that purported to bind it to long tail reinsurance risks after withdrawal of that authority, giving rise to disputes as to the validity of the risks.</p>

		<p><span class="g-color-purple g-font-weight-900">Agency Run-Off</span>: Considering issues arising from insurances issued under a South American binding authority and the run-off management of the subsequent claims.</p>

		<p><span class="g-color-purple g-font-weight-900">Aggregation</span>: Advising on claims arising from the same circumstances by various reinsureds under a number of aviation war risks property/catastrophe reinsurance treaties with different provisions as to aggregation.</p>

		<p><span class="g-color-purple g-font-weight-900">Broking</span>: Acting for overseas insurance brokers in relation to disputes arising from London market placement of a Central American reinsurance risk.</p>

		<p><span class="g-color-purple g-font-weight-900">Reinsurance of All Risks</span>: Acting for facultative reinsurers of a major retail account, including fronting issues in an overseas Court and, in the English Court, incorporation of underlying clauses and late notification.</p>

		<p><span class="g-color-purple g-font-weight-900">Coverage</span>: Representing AGF Insurance in the leading House of Lords decision AGF &amp; WASA v Lexington concerning the circumstances in which, under English law, a facultative reinsurer has to follow the settlements of its reinsured, whose contract is subject to an overseas (in this case USA) law.</p>

		<p><span class="g-color-purple g-font-weight-900">Run-Off</span>: Acting for reinsurers in relation to coverage of numerous claims made following payments by the reinsured under its Scheme of Arrangement, including issues of recoverability of estimated future losses and of the classes of business reinsured.</p>

		<p><span class="g-color-purple g-font-weight-900">Whole Account Retrocession</span>: Advising on a dispute relating to the apportionment of common account reinsurance recoveries between fronting and other pool members.</p>

		<h4 class="h4 g-color-purple g-font-weight-600 g-mb-5">Non-Contentious</h4>

		<p>Examples of our non-contentious reinsurance work appear on our <a href="/commercial-transactional-regulatory/">Commercial, Transactional and Regulatory</a> page.</p>
	{% endcapture %}

	{% include templates/accordion.html title="Our Experience" accordion="02" content=accordion %}

	{% capture accordion %}
		<ul>
			<li>Chambers Guide: Leading Firm in Reinsurance</li>
			<li>Legal 500: Leading Firm in Insurance and Reinsurance</li>
		</ul>
	{% endcapture %}

	{% include templates/accordion.html title="Directory Recognition" accordion="03" content=accordion %}
</div>

<h5 class="h5 g-color-purple g-font-weight-600 mb-4">Key Contact</h5>

<div class="row">
	{% include templates/keyContact.html personID="stephen-carter" %}
</div>
