---
title: Run Off experience
description: Advising on run-off insurance and legacy business, reinsurance recoveries, part VII transfer, loss portfolio transfer, scheme of arrangement

layout: practiceareas
permalink: /run-off/
---

<p>Insurance and reinsurance run-off, or “legacy business” as it is often called, has become a specialist class of business, traversing all other classes of insurance and reinsurance on an international basis.  Our lawyers have advised insurers and reinsurers on legacy issues over many years and have experience of working in-house at run-off organisations.</p>

<p>We understand the relationships and particular dynamics that apply to a run-off situation and work with insurers, reinsurers, owners and agents in achieving successful run-off strategies.</p>

<div id="accordion-00" class="u-accordion u-accordion-bg-primary u-accordion-color-purple" role="tablist" aria-multiselectable="true">
	{% accordion 'What we do' %}
		<p>We represent insurers, reinsurers and run-off managers in handling their claims run-off, both coverage and defence, across a wide range of classes of insurance and reinsurance business.  We also represent the interests of brokers and agents involved in such legacy business.</p>

		<p>Handling the inwards claims, broking and agency relationships is only part of the story.  We also handle the problematic reinsurance recoveries. We advise on policy buy-backs and commutations.  Of course, they  are all inter-related. Run-off strategies must deal with the whole picture.  We will work with you to establish and execute those strategies.</p>

		<p>Many risk-carriers with legacy portfolios and (re)insurers in run-off want finality – to exit the business concerned and to free up resources and capital. Others look to invest their resources and capital in the acquisition and management of companies in run-off and legacy portfolios.  We advise in respect of such finality solutions, which may involve buying or selling companies, the transfer of business under Part VII of FSMA 2000, entering into a scheme of arrangement or arranging whole account run-off reinsurance protection.</p>

		<p>Pervading all of these solutions are regulatory requirements, compliance and employment law issues, on which we also advise.</p>
	{% endaccordion %}

	{% accordion 'Our Experience' %}
		<p><span class="g-color-purple g-font-weight-900">Agency Run-Off:</span> Advising regarding issues arising from insurances issued under a South American binding authority and the run-off management of the subsequent claims.</p>

		<p><span class="g-color-purple g-font-weight-900">Commutations:</span> Drafting a suite of pro forma commutation agreement wordings for an insurer/reinsurer in run-off.</p>

		<p><span class="g-color-purple g-font-weight-900">Directorship:</span> Sitting as a director on the Board of a reinsurer in run-off.</p>

		<p><span class="g-color-purple g-font-weight-900">FSMA Part VII transfer:</span> Acting in a Part VII transfer of reinsurance business.</p>

		<p><span class="g-color-purple g-font-weight-900">Professional Indemnity Run-Off:</span> Representing the insolvent insurers of a solicitors’ professional indemnity account in dealing with run-off claims, instructed through the Financial Services Compensation Scheme.</p>

		<p><span class="g-color-purple g-font-weight-900">Professional liability:</span> Acting for a reinsurer against its professional advisers in relation to a claim arising from a FSMA Part VII transfer of business.</p>

		<p><span class="g-color-purple g-font-weight-900">Regulatory:</span> Advising a pure reinsurance company in run-off on the applicability of the Solvency II regime to its business.</p>

		<p><span class="g-color-purple g-font-weight-900">Reinsurance/Coverage:</span> Acting for facultative reinsurers in run-off of a major retail account, including fronting issues in an overseas court and, in the English court, incorporation of underlying clauses and late notification.</p>

		<p><span class="g-color-purple g-font-weight-900">Reinsurance Fraud:</span> Representing an overseas reinsurer in respect of the run-off of long-tail reinsurance business fraudulently purportedly bound by an overseas pool manager without authority.</p>

		<p><span class="g-color-purple g-font-weight-900">Reinsurance Pool:</span> Unravelling the relationships between fronting and non-fronting companies in a reinsurance pool and establishing agreed methodologies for apportioning a fund held by the insolvent managing agent, whose records were inadequate to properly allocate the monies.</p>

		<p><span class="g-color-purple g-font-weight-900">Reinsurance of scheme claims:</span> Acting for reinsurers in relation to coverage of numerous claims made following payments by the reinsured under its scheme of arrangement, including issues of recoverability of estimated future losses and of the classes of business reinsured.</p>

		<p><span class="g-color-purple g-font-weight-900">Run-Off Reinsurance:</span> Drafting a whole account run-off reinsurance contract for several members of a pool of companies, including provisions to deal with internal fronting arrangements.</p>

		<p><span class="g-color-purple g-font-weight-900">Run-Off Management Agreement:</span> Drafting an agreement relating to the run-off management of certain (but not all) members of a pool, including protocols for decision-making as between fronting and other pool members and the handling of relationships with non-participating members.</p>

		<p><span class="g-color-purple g-font-weight-900">Sale of Insurance Broker:</span> Acting in the sale of a French insurance broker in run-off, by an English holding company, working with the French member of Insuralex.</p>

		<p><span class="g-color-purple g-font-weight-900">Scheme of Arrangement:</span> Acting for a London Market insurer in all aspects of its closure by a solvent scheme of arrangement.</p>

		<p><span class="g-color-purple g-font-weight-900">TPA agreements:</span> Drafting run-off management agreements for third party run-off manager.</p>

		<p><span class="g-color-purple g-font-weight-900">Whole Account Retrocession:</span> Advising in a dispute relating to the apportionment of common account reinsurance recoveries between fronting and other pool members.</p>
	{% endaccordion %}
</div>

<h5 class="h5 g-color-purple g-font-weight-600 mb-4">Key Contacts</h5>

<div class="row">
	{% include 'keyContact', personID: 'stephen-carter' %}
	{% include 'keyContact', personID: 'bernadette-bailey' %}
</div>
