---
title: Trust & Fiduciary Disputes
description:

layout: practiceareas
permalink: /trust-fiduciary-disputes/

redirect_from: /trust-fiduciary-disputes.html
---

<p>
	Wealth management, global investment and fund management and taxation optimisation are some of the increasingly complex structures that depend on both trust and trusts. They also demand great depths of knowledge and decisive action.
</p>

<p>
	Our lawyers have been working successfully in this field for 40 years. Bill Perry has regularly been a ‘Prominent Figure’ in Citywealth’s ranking and was named as one of the ‘Top 100 Lawyers in London’ for his work in this area.
</p>

<div id="accordion-11" class="u-accordion u-accordion-bg-primary u-accordion-color-purple" role="tablist" aria-multiselectable="true">
	{% capture accordion %}

	<p>We advise on ways to reconcile differences of opinion and make Trusts relationships and structures work better. This may involve redrafting deeds, changing personnel (including advisers), reconsidering strategies or getting people to focus on what really matters.</p>
	<p>If there are issues which cannot be resolved amicably, we draw on our  knowledge to adopt the appropriate tactics to obtain the best result for our clients.</p>
	<p>We advise about charitable and private national and international trusts. We have experience of dealing with many foreign jurisdictions, multi-party disputes involving multiple proceedings, civil law structures, the duties of those running them and how they should operate.</p>
	<p>Our clients include beneficiaries, legatees, settlors, trustees and executors. We have obtained undertakings and injunctions. We have restored to cut-out legatees and beneficiaries what was rightfully theirs and removed from those who had appropriated them what they had wrongfully taken.</p>
	{% endcapture %}

	{% include templates/accordion.html title="What we do" accordion="01" content=accordion %}

	{% capture accordion %}
		<ul>
			<li>Acting in a dispute between a residuary beneficiary of an English law trust being operated through civil law structures in Europe and with world-wide beneficiaries, seeking replacement of the trustee and damages, involving injunctions and multiple proceedings in several jurisdictions</li>
			<li>Conducting substantial litigation involving several reported cases over many years relating to ownership and similar issues resulting from the use of charitable companies to run a huge family property empire</li>
			<li>Claiming on behalf of a patron against charitable trustees relating to their management of a charitable trust and their choice of beneficiaries</li>
			<li>Claiming against the legal advisers of a household name trust relating to advice previously given on the trust</li>
			<li>Claiming against the trustees of a family trust for misallocation of trust property and (probably the leading case in England on) and the effectiveness of exemption clauses</li>
			<li>Advising in the proceedings which establish that a Jewish religious Will (Zava’ah) is effective as an English Will</li>
			<li>Recovering from a foreign company a house wrongfully transferred there by bare trustees</li>
			<li>Recovering for disappointed legatees inheritances of which they were deprived by a Will executed without capacity (many times)</li>
			<li>Determining the domicile of a deceased and hence his estate and the resultant choice between different intestacy rules for allocation between inheritors</li>
			<li>Advising on the effectiveness and effect of investment in insurance products as part of estate tax planning and their disbursement on death of the person insured</li>
		</ul>
	{% endcapture %}

	{% include templates/accordion.html title="Our Experience" accordion="02" content=accordion %}
</div>

<h5 class="h5 g-color-purple g-font-weight-600 mb-4">Key Contact</h5>

<div class="row">
	{% include templates/keyContact.html personID="bill-perry" %}
</div>
