---
title: War and Terrorism  experience
description: Depth of experience in a range of insurance and reinsurance issues arising from war risks, terrorism and allied perils.

layout: practiceareas
permalink: /war-and-terrorism/
pdflink: false
---

<p>Depth of experience in a range of insurance and reinsurance issues arising from war risks, terrorism and allied perils.</p>

<div id="accordion-00" class="u-accordion u-accordion-bg-primary u-accordion-color-purple" role="tablist" aria-multiselectable="true">
	{% accordion 'What we do' %}
		<div class="row">
			<div class="col-lg-6">
				<ul>
					<li>Contingency insurance </li>
					<li>Event cancellation</li>
					<li>Kidnap & ransom</li>
					<li>Life assurance</li>
					<li>Marine & Aviation</li>
				</ul>
			</div>

			<div class="col-lg-6">
				<ul>
					<li>Permanent Total Disablement</li>
					<li>Personal Accident</li>
					<li>Political Violence</li>
					<li>Property</li>
					<li>Travel coverage issues</li>
				</ul>
			</div>
		</div>
	{% endaccordion %}

	{% accordion 'Our Experience' %}
		<ul>
			<li>Represented insurers in relation to reinsurance allocation and aggregation issues arising from the 9/11 terrorist attacks in USA.</li>
			<li>Advised reinsurer on aggregation of losses under aviation hull war risks treaties arising from damage sustained to aircraft during airport attacks.</li>
			<li>Advised overseas brokers regarding several direct / facultative reinsurance claims under war risks and political violence property insurances and reinsurances, generally involving Middle East based insureds/reinsureds and losses.</li>
			<li>Representing ship-owner regarding a marine hull war risks insurance claim, involving an attack on an oil tanker.</li>
			<li>Acting in reinsurance claims for the insurer of commercial property damaged by political violence in Syria. </li>
			<li>Facultative terrorism reinsurance coverage dispute arising from damage to industrial buildings in Syria.</li>
			<li>Advising on political violence reinsurance coverage of insured losses arising from an arson  attack. </li>
			<li>Advised PA insurer regarding Permanent Total Disability claim of security manager injured during terrorist bomb blast in Mali that involved cardiac symptoms, PTSD and loss of hearing.</li>
			<li>Advised several life and PA insurers regarding fraudulent fake disappearance / death claim arising from the 2004 Boxing Day Tsunami, which was suspected of being pursued to raise funds for an activist group.</li>
			<li>Life claims and attempted murder claims involving consideration of the effects of biological agents / poisons, some of which are intended to trigger cardiac arrest.</li>
			<li>Experienced in handling Personal Accident and suicide claims in relation to current and former armed forces personnel and security / close protection officers.</li>
		</ul>
	{% endaccordion %}
</div>

<h2 class="h5 g-color-purple g-font-weight-600 mb-4">Key Contact</h2>

<div class="row">
	{% include 'keyContact', personID: 'stephen-carter' %}
	{% include 'keyContact', personID: 'helen-tilley' %}
</div>
