---
title: War &amp; Terrorism experience
description: Depth of experience in a range of insurance and reinsurance issues arising from war risks, terrorism and allied perils.

layout: practiceareas
permalink: /war-and-terrorism/
pdflink: true
---

<p>Depth of experience in a range of insurance and reinsurance issues arising from war risks, terrorism and allied perils.</p>

<div id="accordion-00" class="u-accordion u-accordion-bg-primary u-accordion-color-purple" role="tablist" aria-multiselectable="true">
	{% accordion 'What we do' %}
		<div class="row">
			<div class="col-lg-6">
				<ul>
					<li>Aviation</li>
					<li>Contingency & Event Cancellation</li>
					<li>Coverage and Aggregation Issues</li>
					<li>Insurance & Reinsurance</li>
					<li>Kidnap & Ransom</li>
				</ul>
			</div>

			<div class="col-lg-6">
				<ul>
					<li>Life</li>
					<li>Marine</li>
					<li>Political Violence</li>
					<li>Property</li>
					<li>War Risks</li>
				</ul>
			</div>
		</div>
	{% endaccordion %}

	{% accordion 'Our Experience' %}
		<ul>
			<li>Acting for aviation hull all risks and war risks reinsurer in a series of claims relating to civil aircraft that were not returned from Russia to their lessors following commencement of the Ukraine war.</li>

			<li>Advised reinsurer on aggregation of losses under aviation hull war risks treaties arising from damage sustained to aircraft during airport attacks by militias in North Africa.</li>

			<li>Advised overseas brokers regarding several direct / facultative reinsurance claims under war risks and political violence property insurances and reinsurances, generally involving Middle East based insureds/reinsureds and losses.</li>

			<li>Acting in a marine hull war risks insurance claim, involving an attack using mines on an oil tanker in the Gulf.</li>

			<li>Acting in reinsurance claims for the insurer of commercial property damaged by political violence in Syria.</li>

			<li>Facultative terrorism reinsurance coverage dispute arising from damage to industrial buildings in Syria.</li>
			<li>Advising on political violence reinsurance coverage of insured losses arising from an arson  attack.</li>

			<li>Represented insurers in relation to reinsurance allocation and aggregation issues arising from the 9/11 terrorist attacks in USA.</li>

			<li>Acting for insurers under a political violence policy and its reinsurance, in relation to damage to an industrial facility in East Africa.</li>

			<li>Acting in a kidnap & ransom claim arising from events in Central America.</li>

			<li>Advising a healthcare insurer on its policy cover relating to medical services in war zones.</li>
		</ul>
	{% endaccordion %}
</div>

<h2 class="h5 g-color-purple g-font-weight-600 mb-4">Key Contact</h2>

<div class="row">
	{% include 'keyContact', personID: 'stephen-carter' %}
	{% include 'keyContact', personID: 'paul-bugden' %}
</div>
