---
title: Awards
description:

layout: aboutus
permalink: /awards/
---

<div class="table-responsive">
	{% assign awards = site.data.awards | group_by:"year" %}

	{% for year in awards %}
		<table class="table table-bordered table-hover u-table--v2 g-col-border-side-0">
			<tr class="g-bg-primary g-color-white g-col-border-top-0" colspan="2">
				<td class="g-brd-white-opacity-0_1">{{ year.name }}</td>
				<td>&nbsp;</td>
			</tr>

			{% for award in year.items %}
				<tr class="award">
					<td>&nbsp;</td>
					<td class="g-color-black-opacity-0_8" scope="row">
					{{ award.award }}
						<br />
						<div class="reference">({{ award.organisation}})</div>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endfor %}
</div>
