---
title: Professional Associations
description: "Carter Perry Bailey and our lawyers hold many memberships."

layout: aboutus
permalink: /listings/
---

<h5 class="h5 g-color-purple g-font-weight-600 mb-3">Carter Perry Bailey and our lawyers hold memberships in the following:</h5>

<h5 class="h5 g-color-purple g-font-weight-600 mb-3">Association</h5>



<ul>
	{% assign associations = associations %}

	{% for association in associations %}
		<li>
			{% if association.website !='' %}
				<a href="{{ association.website }}" target="_blank">{{ association.name }}</a>
			{% else %}
				{{ association.name }}
			{% endif %}
		</li>
	{% endfor %}
</ul>
