<div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
				<div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
					<h2 class="u-heading-v2__title h6 text-uppercase mb-0">About Us</h2>
				</div>

				<p>Carter Perry Bailey LLP is a specialist law firm, practicing in both contentious and non-contentious insurance and reinsurance, commercial litigation and arbitration and trust &amp; fiduciary disputes.</p>

				<!-- Start of SRA Digital Badge code -->
				<div style="max-width:275px;max-height:163px;"><div style="position: relative;padding-bottom: 59.1%;height: auto;overflow: hidden;"><iframe frameborder="0" scrolling="no" allowTransparency="true" src="https://cdn.yoshki.com/iframe/55847r.html" style="border:0px; margin:0px; padding:0px; backgroundColor:transparent; top:0px; left:0px; width:100%; height:100%; position: absolute;"></iframe></div></div>
				<!-- End of SRA Digital Badge code -->
			</div>

			<div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
				<div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
					<h2 class="u-heading-v2__title h6 text-uppercase mb-0">Latest Publications</h2>
				</div>

				{% for publication in publications limit:5 %}
					<article>
						<h3 class="h6 g-mb-2">
							<a class="g-color-white-opacity-0_8 g-color-white--hover" href="/{{ publication.file }}">{{ publication.title }}</a>
						</h3>
					</article>

					<hr class="g-brd-white-opacity-0_1 g-my-10">
				{% endfor%}
			</div>

			<div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
				<div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
					<h2 class="u-heading-v2__title h6 text-uppercase mb-0">Useful Links</h2>
				</div>

				<nav class="text-uppercase1">
					<ul class="list-unstyled g-mt-minus-10 mb-0">
						<li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
							<h4 class="h6 g-pr-20 mb-0">
								<a class="g-color-white-opacity-0_8 g-color-white--hover" href="/overview/">About Us</a>
								<i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
							</h4>
						</li>
						<li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
							<h4 class="h6 g-pr-20 mb-0">
								<a class="g-color-white-opacity-0_8 g-color-white--hover" href="/publications/">Publications</a>
								<i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
							</h4>
						</li>
						<li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
							<h4 class="h6 g-pr-20 mb-0">
								<a class="g-color-white-opacity-0_8 g-color-white--hover" href="/other-legal-issues/">Other Legal Issues</a>
								<i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
							</h4>
						</li>
						<li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
							<h4 class="h6 g-pr-20 mb-0">
								<a class="g-color-white-opacity-0_8 g-color-white--hover" href="/regulation-notices-information/">Regulation, Notices &amp; Information</a>
								<i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
							</h4>
						</li>
					</ul>
				</nav>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
					<h2 class="u-heading-v2__title h6 text-uppercase mb-0">Our Contacts</h2>
				</div>

				<address class="g-bg-no-repeat g-font-size-12 mb-0"{% comment %} style="background-image: url(/assets/img/maps/map2.png);"{% endcomment %}>
					<div class="d-flex g-mb-20">
						<div class="g-mr-10">
							<span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
								<i class="fa fa-map-marker"></i>
							</span>
						</div>
						<p class="mb-0">Carter Perry Bailey<br> 10, Lloyd's Avenue<br> London<br>EC3N 3AJ</p>
					</div>

					<div class="d-flex g-mb-20">
						<div class="g-mr-10">
							<span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
								<i class="fa fa-phone"></i>
							</span>
						</div>
						<p class="mb-0">+44 20 3697 1900</p>
					</div>

					<div class="d-flex g-mb-20">
						<div class="g-mr-10">
							<span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
								<i class="fa fa-fax"></i>
							</span>
						</div>
						<p class="mb-0">+44 20 3697 1911</p>
					</div>

					<div class="d-flex g-mb-20">
						<div class="g-mr-10">
							<span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
								<i class="fa fa-envelope"></i>
							</span>
						</div>
						<p class="mb-0">
							<a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:info@cpblaw.com">info@cpblaw.com</a>
						</p>
					</div>
				</address>
			</div>
		</div>
	</div>
</div>

<footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
				<div class="d-lg-flex">
					<small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">&copy; Carter Perry Bailey LLP {{ 'now' | date: '%Y' }}.  All Rights Reserved</small>

					<ul class="u-list-inline">
						<li class="list-inline-item">
							<span>|</span>
						</li>

						<li class="list-inline-item">
							<a class="g-color-white-opacity-0_8 g-color-white--hover" href="/sitemap/">Sitemap</a>
						</li>

						<li class="list-inline-item">
							<span>|</span>
						</li>

						<li class="list-inline-item">
							<a class="g-color-white-opacity-0_8 g-color-white--hover" href="/legal/">Legal</a>
						</li>

						<li class="list-inline-item">
							<span>|</span>
						</li>

						<li class="list-inline-item">
							<a class="g-color-white-opacity-0_8 g-color-white--hover" href="/privacy-notice.pdf" target="_blank">Privacy Notice</a>
						</li>

						<li class="list-inline-item">
							<span>|</span>
						</li>

						<li class="list-inline-item">
							<a class="g-color-white-opacity-0_8 g-color-white--hover" href="/accessibility/">Accessibility</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
